@font-face {
    font-family: "AGBookPro-Italic.ttf";
    src: url("AGBookPro-Italic.ttf");
}
@font-face {
    font-family: "AGBookPro-Regular.ttf";
    src: url("AGBookPro-Regular.ttf");
}
@font-face {
    font-family: "AGBookTTBol.ttf";
    src: url("AGBookTTBol.ttf");
}
@font-face {
    font-family: "AGBookTTBolIta.ttf";
    src: url("AGBookTTBolIta.ttf");
}
@font-face {
    font-family: "AGBookTTIta.ttf";
    src: url("AGBookTTIta.ttf");
}
@font-face {
    font-family: "AGBookTTLig.ttf";
    src: url("AGBookTTLig.ttf");
}
@font-face {
    font-family: "AGBookTTLigIta.ttf";
    src: url("AGBookTTLigIta.ttf");
}
@font-face {
    font-family: "AGBookTTMed.ttf";
    src: url("AGBookTTMed.ttf");
}
@font-face {
    font-family: "AGBookTTMedIta.ttf";
    src: url("AGBookTTMedIta.ttf");
}
@font-face {
    font-family: "AGBookTTReg.ttf";
    src: url("AGBookTTReg.ttf");
}
@font-face {
    font-family: "AGBookTTUltLig.ttf";
    src: url("AGBookTTUltLig.ttf");
}
@font-face {
    font-family: "AGBookTTUltLigIta.ttf";
    src: url("AGBookTTUltLigIta.ttf");
}
