* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'MYRIADAT.ttf';
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*slide*/
body > div {
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
    text-align: center;
}

body > div > * {
    margin-bottom: 3vh;
}

/*question*/
body > div > p:first-child {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'MYRIADAM.ttf';
    font-size: 3rem;
}

/*réponse container*/
body > div > div {
    height: auto;
    margin: auto;
    margin-left: 38vw;
    margin-bottom: 3vh;
    text-align:left;
    min-height: 0vh;
    outline: 1px solid black;
}

body > div > div > p {
    font-size: 1.8rem;
    margin-bottom: 1vh;
    font-family: 'MYRIADAT.ttf';
}

body > div > div > p > input[type="text"] {
    width: 24vw;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: 'MYRIADAT.ttf';
}

body > div > div > p > input[type="mail"] {
    width: 24vw;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: 'MYRIADAT.ttf';
}

body > div > div > p > input[type="radio"] {
    margin-right: 8px;
}

body > div > button {
    width: 24vw;
    max-width: 100%;
    
    background-color: rgb(240,240,240);
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0.40rem;
    
    cursor: pointer;
    
    font-family: 'MYRIADAT.ttf';
    font-size: 2rem;
    text-align: center;
}

#start {
    display: block;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        */
}

#conditions{
    position: absolute;
    display: none;
}

#end {
    display: none;
}
