* {
    
}

html {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: sans-serif;
    line-height: 1.4;

}

body {

}

#container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#container > div {
    margin-top: 80px;
    margin-bottom: 80px;
}

p {
    margin-bottom: 20px;
    clear: both;
}

.msg {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 12px;
    width: auto;
    max-width: 400px;
}

.in {
    text-align: left;
    float: left;
    clear: both;
    margin-left: 1vw;
    background-color: #EEEEEE;
    color: black;
    left: 0px;
}

.out {
    text-align: right;
    float: right;
    clear: both;
    margin-right: 1vw;
    background-color: #33DD33;
    color: white;
}

.tweet {
    height: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 6px;
    border-radius: 12px;
    width: auto;
    max-width: 600px;
}

.tweet img {
    border-radius: 50%;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    float: left;
}

.comment {

}

#michel p span {
    color: red;
}

img {
    vertical-align: bottom;
}

img[src="img/google.svg"] { 
    height: 1.2rem;
    }

img[src="img/1f609.svg"] { 
    width: 1rem;
}

/*
.google {
    color: blue;
    background-image: url("img/google.svg");
    background-size: 200px 150px;
}
*/

.nespresso {
    color: gold;
}

#note {
   text-align: center; 
}

.stars a {
    color: black;
    text-decoration: none;
}

.stars a:hover {

    color: yellow;
}
