<p> Michel se réveille : il sent l'odeur du café. Il y a quelques minutes, son <span
class="google">iGoogle</span> – équipé de l'application <span class="nestlé">iPresso : quoi d'autre
?</span> – alerté par l'agitation caractéristique de l'éveil, lui avait discrètement demandé <span
                                                                  class="parole">café?</span> et il
                                                              avait marmonné <span
                                                                  class="parole">oui</span>.  </p>
