@font-face{
font-family: "MYRIAABI.TTF";
src: url("MYRIAABI.TTF");
}
@font-face{
font-family: "MYRIAAMI.TTF";
src: url("MYRIAAMI.TTF");
}
@font-face{
font-family: "MYRIAASI.TTF";
src: url("MYRIAASI.TTF");
}
@font-face{
font-family: "MYRIAATI.TTF";
src: url("MYRIAATI.TTF");
}
@font-face{
font-family: "MYRIADAB.TTF";
src: url("MYRIADAB.TTF");
}
@font-face{
font-family: "MYRIADAM.TTF";
src: url("MYRIADAM.TTF");
}
@font-face{
font-family: "MYRIADAS.TTF";
src: url("MYRIADAS.TTF");
}
@font-face{
font-family: "MYRIADAT.TTF";
src: url("MYRIADAT.TTF");
}
