* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /*outline: 1px solid black;*/
}

body {
    margin: 20px;
}

/* container */
/* #container{
    width: 1280px;
    max-width: calc(100vh - 80px);
    margin: auto;
    text-align: center;
} */

/* video */
#video{
    position: absolute;
    margin:auto;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    max-width: calc(100vw - 160px);
    max-height: calc(100vh - 160px);
    min-width:  auto;
    min-height: auto;
    z-index: 0;
}

/*audio*/
audio {
    visibility: hidden;
}

#chveu{
    position: fixed;
    right: 20%;
    top:0%;
    z-index: 9999999;
    opacity: 0.75;
    overflow: visible;
}

#sortie:hover{
    cursor: pointer;
    stroke-width:1rem;
    fill: #0000EE; 
  stroke: #0000EE; 
}



/*#POP*/

.pop {
    display:none;
    z-index: 9999;
}

/*sms*/
.msg {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 12px;
    width: auto;
    max-width: 400px;
    font-family: "SanFranciscoText-Regular.otf";
    font-size: 20px;
    z-index: 9999;
    positioN: absolute;
}

.msg i {
    font-family: "SanFranciscoText-RegularItalic.otf";

}

.in {
    text-align: left;
    float: left;
    clear: both;
    margin-left: 1vw;
    background-color: #EEEEEE;
    color: black;
    left: 160px;
}

.out {
    text-align: right;
    float: right;
    clear: both;
    margin-right: 1vw;
    background-color: #33DD33;
    color: white;
    right: 160px;
}

/*miniature*/
#quatre {
    width: 260px;
    min-width: 260px;
    min-height: 150px;
    position: absolute;
    top: 0;
    left:0;
    resize: both;
    overflow: hidden;
}

#quatre video {
    width: 100%;
    height: 100%;
}

#cinq {
    position: absolute;
    margin:auto;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    max-width: calc(100vw - 360px);
    max-height: calc(100vh - 360px);
}

/* sunny sun */
#gros_sunny-sun{
    display: none;
    left: 0;
    top: 100vh;
    width: 100vw;
    height: 100vw;
    background-color: rgb(255,255,0);
    border-radius: 50%;
    position: fixed;
    z-index: -1;
}











/*commentaire*/
#commentaire {
    display: block;
    position: absolute;
    width: calc(100vw - 160px);
    min-width: 600px;
    margin:auto;
    top: 100vh;
    left: 0;
    top: 0;
    margin-top: 100vh;
    right: 0;
    bottom:0;
    z-index: -999;
    text-align: left;
}

#commentaire p {
    margin-bottom: 10px;
}

/* simple-messages-system */
#simple-messages-system{
    display: none;
    position: absolute;
    width: calc(100vw - 160px);
    margin:auto;
    top: 100vh;
    left: 0;
    top: 0;
    margin-top: 100vh;
    right: 0;
    bottom:0;
    z-index: -999;
    text-align: left;
}

/* root */
#root {
    display: flex; 
    flex-direction: column;
    margin-top: 40px;
    transform-origin: left top;
}

.message {
    width: 800px;
    /*max-width: 800px;*/
    /*min-width: 600px;*/
    height: auto;
    
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

    /*
    background-color: white;
    border: 1px solid #111111;
    box-shadow: 4px 6px #111111;
    box-shadow: -4px 6px #111111;
    */
    
    /*
    background-color: rgba(00,0,255,0.10);
    */
    
    /*
    background-color: rgba(0,255,0,0.10);
    */
    /*

    box-shadow: 2px 2px 6px #0000FF;

        background-color: rgba(0,0,0,0.05);
    box-shadow: -4px 6px 5px #dddddd;
    */

}

.message * {
    margin-bottom: 10px;
}

.message > .text {
    
}

.message > p > * {
    margin-right: 10px;
    margin-left: 10px;
}

.message > p > *:first-child {
    margin-left: 0px;
}

.message > button {
    margin-top: 20px;
    display: block;
}

/* post */ 

#post {
    width: 800px;
    padding: 0px;
}

.post {
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.post * {
    margin-bottom: 10px;
}

.post > textarea { 
    width: 100%;
    height: 140px;
}

.post > p > * {
    margin-right: 10px;

}

.post > button {
    display: block;
}

/* buttons */

#buttons {
    position: fixed;
    top: 20px;
    right: 20px;
}

#buttons div {
    margin-bottom: 20px;
}

#buttons div * {
    margin-bottom: 10px;
}

#buttons button {
    width: 40px;
    display: block;
}



/*##inputs*/

textarea, input, button{
   border: none;
   outline: none;
   padding: 0.33rem 0.75rem 0.33rem 0.75rem;
   background-color: rgb(245,245,245);
}

textarea:hover, input:hover, button:hover {
    background-color: rgb(235,235,235);
}

button:hover{
    cursor: pointer;
}

/*##messages*/

.message .meta{
    color: silver;
    margin: 0;
    left: 0;
    padding-left: 0.25rem;

}

.message{
    margin-bottom: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-left:solid;
    border-width:1px;
    border-color: rgb(215,215,215);
}

.message .text{
padding: 20px;
margin: 0;
}

.message .reply,.message .messages{
 margin:0;
}

.message .reply{
    color: silver;
    background-color: rgb(245,245,245);
    margin-bottom: 20px;
    margin-left: 20px;
}

.message .reply:hover{
    color: black;
    background-color: rgb(235,235,235);
}
