/* line 5, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget {
  position: relative;
  overflow: hidden;
}
/* line 10, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 2px 2px 2px 2px;
}
/* line 16, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 22, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li {
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  float: none;
  clear: both;
  border-bottom: 1px solid #e0e0e0;
  display: inline-block;
}
/* line 32, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .icon {
  position: absolute;
  left: 2px;
  top: -5px;
  z-index: 2;
}
/* line 39, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .cdu-ajax-social-widget-inner {
  padding-left: 47px;
  padding-right: 10px;
}
/* line 45, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .cdu-ajax-social-widget-inner .cdu-ajax-social-widget-section-account,
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .cdu-ajax-social-widget-inner .cdu-ajax-social-widget-section-message,
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .cdu-ajax-social-widget-inner .cdu-ajax-social-widget-section-timestamp {
  display: block;
  float: none;
  clear: both;
}
/* line 51, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget div.cdu-ajax-social-widget-content ul li .cdu-ajax-social-widget-inner .cdu-ajax-social-widget-section-timestamp {
  font-size: 80%;
  font-style: italic;
}
/* line 60, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget .cdu-ajax-social-widget-pause-control {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  z-index: 12;
  text-align: left;
  /*
  > span {
  	@include border-radius(3px);
  
  	background-color: #333;
  	color: #fff;
  	cursor: pointer;
  	margin: 0;
  	padding: 0 0.6em;
  	line-height: 1.3em;
  }
  */
}
/* line 80, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget .cdu-ajax-social-widget-pause-control .cdu-ajax-social-widget-pause-control-play {
  display: none;
}
/* line 83, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget .cdu-ajax-social-widget-pause-control .cdu-ajax-social-widget-pause-control-pause {
  display: inline-block;
}
/* line 89, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget.cdu-ajax-social-widget-state-paused .cdu-ajax-social-widget-pause-control .cdu-ajax-social-widget-pause-control-play {
  display: inline-block;
}
/* line 92, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget.cdu-ajax-social-widget-state-paused .cdu-ajax-social-widget-pause-control .cdu-ajax-social-widget-pause-control-pause {
  display: none;
}
/* line 98, ../../../sass/tag/head/AJAX_SOCIAL_WIDGET.scss */
div.cdu-ajax-social-widget.cdu-ajax-social-widget:after {
  content: "";
  height: 50px;
  display: block;
  position: absolute;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* sidebar specific styles */
#sidebar .widget .cdu-ajax-social-widget {
	font-size: 11px;
	line-height: 14px;
}
#sidebar .widget .cdu-ajax-social-widget li a {
	border: 0;
	padding: 0;
	display: inline;
}
#sidebar .widget .cdu-ajax-social-widget li {
	padding-bottom: 20px;
	padding-top: 20px;
}
#sidebar .widget .cdu-ajax-social-widget li .icon {
	padding-top: 20px;
}