.manual-related-posts .related-posts ul {
    margin: 1em 0 2em 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    clear: both;
}
.manual-related-posts .related-posts li {
    margin: 0;
    padding: 0;
    display: block;
    clear: left;
}
.manual-related-posts .related-posts img {
    margin: 0 0.5em 0.5em 0;
    float: left;
}