* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

/*EFFECTS*/
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}


/*LOADING*/
#loading {
    display: block;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1001;
    background-color: #ffffff;
}

#loading #spinner {
    width: 36px;
    height: 39px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loading #logo {
    width: 120px;
    height: 120px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loading #title {
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    top: calc(50% + 60px);
    right: 0;
    bottom: 0;
    left: 0;
    
    color: #666666;
    font-family: "SanFranciscoDisplay-Medium.otf";
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
}

/*TASKBAR*/
#taskbar {
    position: fixed;
    height: 22px;
    left: 0px;
    top: 0px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    background-color: lightgrey;
    box-shadow: 1px 1px 4px grey;
    z-index: 1000;
    
    color: #666666;
    font-family: "SanFranciscoText-Medium.otf";
    font-weight: normal;
    font-size: 0.8rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

#taskbar li {
    /*
	float:left;
	position:relative;
        list-style-type: none;
	height:21px;
        */
    display: inline-block;
    vertical-align: middle;
}

#taskbar #apple {
    width: 20px;
    height: 22px;
    background: url("../img/apple-logo.png") no-repeat 10px 1px;
    padding:0 10px 0 10px;
}

/*DESKTOP*/
#desktop {
    width: 100vw;
    height: calc(100vh - 22px); 
    position: absolute;
    top: 22px;
    left: 0px;
    overflow: hidden;
    /*
    background: url("../img/AVfwECt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    */
}


/*FILE*/
.file {
    position: absolute;
    width: 100px;
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
    text-align:center;
}

.file .icon {
    max-width: 92px;
    max-height: 92px;
    padding: 4px;
    border-radius: 1px;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px grey;
    background-color: white;
}

.file.text .icon {
    background-color: transparent;
    box-shadow: none;
}

.file p {
    max-width: 92px;
    padding: 4px;

    /*font*/
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: "SanFranciscoText-Semibold.otf";
    font-size: 0.8rem;
    word-wrap: break-word;
    text-align: center;
}

.file.focus {
    background-color: lightblue;
}


/*WINDOW*/
.window {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px 4px grey;
    text-align: center;
    resize: both;
    overflow: auto;
}

.window.open {
    display: block;
}

.window .header {
    position: relative;
    height: 20px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    background-color: lightgrey;
    /*font*/
    color: #666666;
    font-family: "SanFranciscoText-Medium.otf";
    font-size: 0.8rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.window .header:hover {
    cursor:move;
}

.window .container {
    position: relative;
    height: calc(100% - 40px);  /*todo*/
}

.window .container img {
    height:auto;
    width: auto;
    max-height: 100%; 
    max-width: 100%; 
    
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.window .container video {
    height:auto;
    width: auto;
    max-height: 100%; 
    max-width: 100%; 
   
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.window .container .text {
    height:auto;
    width: auto;
    max-height: 100%;
    max-width: 100%; 

    /*font*/
    padding: 12px;
    box-sizing: border-box;
    color: #666666;
    font-family: "SanFranciscoText-Regular.otf";
    font-size: 1rem;
    text-align: left;
    overflow: auto;
}

.window .text .call {
    text-decoration: underline;
    border-radius: 2px;
    padding: 1px;
}

.window .text .call:hover {
    cursor: pointer;
}

.window .text p {
    margin-bottom: 20px;
}
