BODY {font-family: "'Times New Roman', Georgia, Times, 'New York', serif" ; background: white; color: black; }
CODE {font-family: "'Courier New', Courier, Monaco, monospace" ; }
SMALL {font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif" ; }
HR {color: gray ; }
.navbar {font-size: 100%; font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif"; background: #FFFF66 ; }
.notrecommended {color: #666666 ; }
.deemphasized {color: #666666 ; }
TABLE {font-size: 90% ; font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif" ; }
TABLE.densetable {font-size: 80% ; }
TR.summaryrow { font-size: 90%; background: #00FFFF ; }
CAPTION {font-size: 100% ; }
.embeddedfloat {float: right; margin-left: 3em}
H1, H2, H3, H4, H5, H6 {font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif" ; }
UL.referencelist, .footnote {margin-left: 4em; text-indent: -4em ; font-size: 83%; font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif"; list-style: none ; }
A:link, .simulatedlink {color: blue ; }
A:visited {color: purple ; }
A:active {color: aqua ; }
A.notrecommended:link {color: #6666FF ; }
A.notrecommended:visited {color: #CC66CC ; }
A.deemphasized:link {color: #6666FF ; }
A.deemphasized:visited {color: #CC66CC ; }
.overline {font-family: "Verdana, 'Lucida Sans', Arial, Helvetica, Geneva, sans-serif"; margin-bottom: -2ex ; }
.updatecomment {font-size: 100%; background: #00FFFF ; }

/*
     FILE ARCHIVED ON 10:39:13 Jul 12, 1997 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:03:58 Feb 18, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/