<hr>
<h2 id="quel-est-votre-pr-nom-">quel est votre prénom ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quel-est-votre-nom-">quel est votre nom ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quel-age-avez-vous-">quel age avez-vous ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quelle-est-votre-adresse-mail-">quelle est votre adresse mail ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quel-est-votre-sexe-choisissez-un-emoji">quel est votre sexe ? Choisissez un emoji</h2>
<ul>
<li>[ ] Homme</li>
<li>[ ] Femme</li>
<li>[ ] Autre</li>
</ul>
<hr>
<h2 id="quelle-est-votre-couleur-pr-f-r-e-">quelle est votre couleur préférée ?</h2>
<ul>
<li>[ ] Greenery</li>
<li>[ ] Rose Quartz</li>
<li>[ ] Serenity</li>
<li>[ ] Marsala</li>
<li>[ ] Radiand Orchid</li>
<li>[ ] Emerald</li>
<li>[ ] Tangerine Tango</li>
<li>[ ] Honeysucle</li>
<li>[ ] Turquoise</li>
</ul>
<p>&lt;!-- Lev Manovitch customisation personnalisation 
[Monthy&#39;s Python Holy Grail, le jeu vidéo, 1996](???) --&gt;
</p>
<hr>
<h2 id="vous-tes-">vous êtes ?</h2>
<ul>
<li>[ ] amateur</li>
<li>[ ] expert</li>
<li>[ ] capable de résoudre la plupart des problèmes en un coup de fil</li>
</ul>
<p><a href="???">garantie</a></p>
<hr>
<h2 id="mais-encore-">mais encore ?</h2>
<ul>
<li>[ ] un scientifique</li>
<li>[ ] un ouvrier de la connaissance</li>
<li>[ ] un ouvrier de l&#39;intellect</li>
<li>[ ] un programmeur</li>
<li>[ ] un vrai utilisateur</li>
<li>[ ] un utilisateur naïf</li>
<li>[ ] la dame avec une machine à écrire royale</li>
<li>[ ] un enfant</li>
<li>[ ] un artiste</li>
<li>[ ] un musicien</li>
<li>[ ] une divinité</li>
<li>[ ] une machine</li>
<li>[ ] un néophyte complètement paumé</li>
<li>[ ] un hacker</li>
<li>[ ] un nul</li>
<li>[ ] vous-même</li>
<li>[ ] un individu</li>
<li>[ ] un citoyen</li>
<li>[ ] des gens</li>
<li>[ ] un autre</li>
<li>[ ] un client</li>
<li>[ ] un interacteur</li>
<li>[ ] un acheteur</li>
<li>[ ] une cible</li>
</ul>
<p><a href="http://contemporary-home-computing.org/turing-complete-user/">Turing Complete User, Olia Lialina, October 2012, Appendix B: Users Imagined</a></p>
<hr>
<h2 id="comment-avez-vous-eu-connaissance-de-ce-m-moire-">comment avez-vous eu connaissance de ce mémoire ?</h2>
<ul>
<li>[ ] publicité</li>
<li>[ ] magazine</li>
<li>[ ] ami</li>
<li>[ ] collègue</li>
<li>[ ] autre</li>
</ul>
<p><a href="???">Monthy&#39;s Python Holy Grail, le jeu vidéo, 1996</a></p>
<hr>
<h2 id="qu-attendez-vous-de-ce-m-moire-">qu&#39;attendez vous de ce mémoire ?</h2>
<ul>
<li>[ ] une lecture facile</li>
<li>[ ] une lecture rapide</li>
<li>[ ] un contenu accessible</li>
<li>[ ] un sentiment de sécurité</li>
<li>[ ] un sentiment d&#39;élégance</li>
<li>[ ] une problématique simple</li>
<li>[ ] une problématique innovante</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="attendez-vous-d-un-objet-qu-il-soit-conforme-">attendez-vous d&#39;un objet qu&#39;il soit conforme ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
</ul>
<hr>
<h2 id="un-bon-design-est-">un bon design est :</h2>
<ul>
<li>[ ] pratique</li>
<li>[ ] élégant</li>
<li>[ ] intelligent</li>
<li>[ ] naturel</li>
<li>[ ] facile d&#39;utilisation</li>
<li>[ ] accessible</li>
<li>[ ] innovant</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="un-bon-design-">un bon design :</h2>
<ul>
<li>[ ] répond à un besoin</li>
<li>[ ] définit un besoin</li>
<li>[ ] ne se contente pas de répondre à un besoin, il le définit</li>
</ul>
<p><a href="???">Matt McCullough, Steve Jobs and the Goal of Preaching, 08.28.2014</a></p>
<hr>
<h2 id="pourquoi-m-me-un-bon-design-peut-il-chouer-">pourquoi même un bon design peut-il échouer ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, the invisible computer</a></p>
<hr>
<h2 id="un-bon-design-doit-il-avoir-raison-">un bon design doit-il avoir raison ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">dialectique de la raison</a></p>
<hr>
<h2 id="un-bon-design-est-il-notre-service-">un bon design est-il à notre service ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, Design of everyday things</a></p>
<hr>
<h2 id="cochez-">cochez.</h2>
<ul>
<li>[ ] Sécurité</li>
<li>[ ] Facilité</li>
<li>[ ] Rapidité</li>
<li>[ ] Accessibilité</li>
<li>[ ] Élégance</li>
<li>[ ] Simplicité</li>
<li>[ ] Innovation</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="choisissez-la-bonne-position-pour-chaque-forme-dans-chaque-situation-">choisissez la bonne position pour chaque forme dans chaque situation.</h2>
<p> O /\ []</p>
<blockquote>
<p>Every shape exists only because of the space around it. … Hence there is a ‘right’ position for every shape in every situation. If we succeed in finding that position, we have done our job.</p>
</blockquote>
<p><a href="???">Donald Knuth TEXbook, JAN TSCHICHOLD, Typographische Gestaltung (1935)</a></p>
<hr>
<p>&lt;!-- ## qu&#39;est ce qui est important lorsque l&#39;on doit choisir--&gt;
</p>
<h2 id="face-un-choix-le-plus-important-est-d-avoir-">Face à un choix, le plus important est d&#39;avoir :</h2>
<ul>
<li>de bonnes possibilités</li>
<li>de bons choix</li>
<li>aucune des propositions ci-dessus</li>
</ul>
<p><a href="http://userrights.contemporary-home-computing.org/">Lialina, User Rights</a></p>
<hr>
<h2 id="apprendre-des-nouvelles-mani-res-de-faire-dans-le-seul-but-d-tre-diff-rent-est-">apprendre des nouvelles manières de faire dans le seul but d&#39;être différent est :</h2>
<ul>
<li>[ ] une contrainte</li>
<li>[ ] irrespectueux</li>
<li>[ ] inconsistant</li>
</ul>
<hr>
<h2 id="cherchez-l-intrus-">cherchez l&#39;intrus :</h2>
<ul>
<li>[ ] innovant</li>
<li>[ ] kitsch</li>
<li>[ ] avant-gardiste</li>
</ul>
<p><a href="???">kitsch et avant-garde</a></p>
<hr>
<h2 id="caract-risez-l-usage-de-l-ornement-">caractérisez l&#39;usage de l&#39;ornement :</h2>
<ul>
<li>[ ] Enfantin</li>
<li>[ ] Refus de la pureté du design</li>
<li>[ ] Instinct primitif</li>
<li>[ ] Peur de la beauté réelle</li>
<li>[ ] Maquillage pour un mauvais design</li>
<li>[ ] Bon pour les Indiens</li>
<li>[ ] Basse culture</li>
</ul>
<p><a href="???">Adolf Loos, JAN TSCHICHOLD, Typographische Gestaltung (1935)</a></p>
<hr>
<h2 id="qu-est-ce-qui-diff-rencie-le-naturel-de-la-contre-fa-on-">qu&#39;est ce qui différencie le naturel de la contre-façon ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="un-outil-peut-il-tre-con-u-pour-tre-d-tourn-">un outil peut-il être conçu pour être détourné ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Guy Debord et Wolman - Mode d&#39;emploi du Détournement</a></p>
<hr>
<h2 id="votre-ordinateur-est-il-reprogrammable-">votre ordinateur est-il reprogrammable ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
</ul>
<hr>
<h2 id="votre-interface-est-">votre interface est :</h2>
<ul>
<li>[ ] graphique</li>
<li>[ ] en lignes de commandes</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="vous-poss-dez-un-">vous possédez un :</h2>
<ul>
<li>[ ] Mac</li>
<li>[ ] Windows</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="vous-tes-">vous êtes :</h2>
<ul>
<li>[ ] Catholique</li>
<li>[ ] Protestant</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="c-est-quoi-un-ordinateur-">c&#39;est quoi un ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Apple, iPad</a></p>
<hr>
<h2 id="quel-est-l-usage-attendu-d-un-ordinateur-">quel est l&#39;usage attendu d&#39;un ordinateur ?</h2>
<ul>
<li>[ ]</li>
</ul>
<p><a href="???">garantie</a></p>
<hr>
<h2 id="d-crivez-un-ordinateur-">décrivez un ordinateur.</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="pourquoi-l-ordinateur-personnel-est-il-si-complexe-">pourquoi l&#39;ordinateur personnel est-il si complexe ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, the invisible computer</a></p>
<hr>
<h2 id="qu-est-ce-qui-ne-va-pas-avec-l-ordinateur-">qu&#39;est ce qui ne va pas avec l&#39;ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">What&#39;s wrong with the computer ? Norman, The Invisible Computer</a></p>
<hr>
<h2 id="l-ordinateur-fait-">l&#39;ordinateur fait :</h2>
<ul>
<li>[ ] une seule chose mais bien</li>
<li>[ ] plusieurs choses mais mal</li>
</ul>
<p><a href="???">Information Appliance</a></p>
<hr>
<h2 id="quand-votre-ordinateur-ne-fonctionne-pas-comme-vous-le-voulez-d-o-viens-le-probl-me-">quand votre ordinateur ne fonctionne pas comme vous le voulez, d&#39;où viens le problème ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="votre-ordinateur-vous-simplifie-t-il-la-vie-">votre ordinateur vous simplifie t-il la vie ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">No one&#39;s life has yet been simplified by a computer. Nelson, Computer Lib, 1974</a></p>
<hr>
<h2 id="un-ordinateur-est-il-un-cran-">un ordinateur est-il un écran ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
<li>[ ] peut-être</li>
</ul>
<p><a href="???">Where did the computer go ?</a></p>
<hr>
<h2 id="un-ordinateur-est-il-une-surface-">un ordinateur est-il une surface ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
<li>[ ] peut-être</li>
</ul>
<p><a href="???">Paper as metaphor</a></p>
<hr>
<h2 id="pourquoi-est-il-impossible-de-mettre-des-notes-marginales-sur-un-fichier-microsoft-word-un-pdf-ou-sur-une-page-web-">pourquoi est-il impossible de mettre des notes marginales sur un fichier Microsoft Word, un Pdf ou sur une page web ?</h2>
<ul>
<li>[ ] car les ordinateurs ne le permettent pas</li>
<li>[ ] car c&#39;est une fonctionnalité difficile à trouver</li>
<li>[ ] car Chuck Simoni, John Warnock et Tim Berners-Lee ont considéré que cela n&#39;était pas nécessaire</li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="pourquoi-le-texte-l-cran-est-il-g-n-ralement-en-noir-sur-fond-blanc-">pourquoi le texte à l&#39;écran est-il généralement en noir sur fond blanc ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Paper as metaphor</a></p>
<hr>
<h2 id="pourquoi-dix-huit-si-cles-de-culture-de-l-imprim-ont-t-r-duits-une-simulation-de-feuille-de-papier-">pourquoi dix-huit siècles de culture de l&#39;imprimé ont été réduits à une simulation de feuille de papier ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="quelles-sont-les-diff-rences-entre-un-presse-papier-papier-et-un-presse-papier-num-rique-">quelles sont les différences entre un presse papier (papier) et un presse papier numérique ?</h2>
<ul>
<li>[ ] il est invisible</li>
<li>[ ] il ne peut contenir qu&#39;un objet,</li>
<li>[ ] quoi-que vous y placiez, il détruit le contenu précédent. À part ça, C&#39;EST JUSTE UN PRESSE PAPIER NORMAL SOUS TOUT LES ASPECTS-- À L&#39;EXEPTION QU&#39;IL NE POSSÈDE AUCUN AUTRE ASPECT.</li>
</ul>
<blockquote>
<p>It&#39;s just like a regular clipboard, except<br>(a) you can&#39;t see it,<br>(b) it holds only one object,<br>(c) whatever you put there destroys the previous contents.  Aside from that, IT&#39;S JUST LIKE A REGULAR CLIPBOARD IN EVERY OTHER RESPECT-- EXCEPT THERE AREN&#39;T ANY OTHER RESPECTS!</p>
</blockquote>
<p><a href="???">Nelson, one liners</a></p>
<hr>
<h2 id="avons-nous-des-bureaux-d-ordinateur-ou-des-ateliers-d-ordinateur-">avons-nous des bureaux d&#39;ordinateur ou des ateliers d&#39;ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="comment-disposez-vous-les-ic-nes-sur-le-bureau-de-votre-ordinateur-">comment disposez-vous les icônes sur le bureau de votre ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="-quoi-sert-cette-ic-ne-">à quoi sert cette icône : 🔎</h2>
<ul>
<li>[ ]  zoomer</li>
<li>[ ]  rechercher</li>
</ul>
<p>ou text ?</p>
<p><a href="???">Fuller, Metaphor in The impossibility of the interface in Behind the Blip, ?</a></p>
<hr>
<h2 id="la-commande-cmd-z-est-elle-intuitive-">la commande CMD-Z est-elle intuitive ?</h2>
<ul>
<li>[ ] J&#39;ai toujours profondément penser au fond de mon cœur que CMD-Z devait annuler les choses.</li>
</ul>
<blockquote>
<p>Oh, SURE the Macintosh interface is Intuitive! I&#39;ve always thought deep in my heart that command-z should undo things. &quot;</p>
</blockquote>
<p><a href="???">Margy Levine</a></p>
<hr>
<p>&lt;!-- ## qu&#39;est ce vous trouvez simple --&gt;
</p>
<h2 id="que-trouvez-vous-simple-">que trouvez-vous simple ?</h2>
<p>&lt;!-- Qu&#39;est ce vous trouvez compliqué --&gt;
</p>
<p>Que trouvez-vous compliqué</p>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="qui-est-le-ma-tre-de-la-simplicit-">qui est le maître de la simplicité ?</h2>
<ul>
<li>[ ] John Maeda</li>
</ul>
<p><a href="???">Rules of simplicity, John Maeda</a></p>
<hr>
<h2 id="aimez-vous-que-l-on-vous-pousse-r-fl-chir-">aimez-vous que l&#39;on vous pousse à réfléchir ?</h2>
<ul>
<li>[ ] continuer</li>
</ul>
<p><a href="???">Steve Krug, don&#39;t make me think</a></p>
<hr>
<h2 id="surfez-vous-sur-le-net-">surfez-vous sur le net ?</h2>
<ul>
<li>[ ] Oui</li>
<li>[ ] Non</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="saviez-vous-que-le-surf-sur-le-net-est-mort-en-1996-">saviez-vous que le surf sur le net est mort en 1996 ?</h2>
<ul>
<li>[ ] Oui</li>
<li>[ ] Non</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="l-ordinateur-est-">l&#39;ordinateur est :</h2>
<ul>
<li>[ ] une aventure civile</li>
<li>[ ] une aventure commerciale</li>
<li>[ ] la première et le deuxième question signifient la même chose</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="parmi-les-termes-suivants-lequel-est-il-le-plus-correct-pour-d-signer-un-contenu-pertinent-">parmi les termes suivants lequel est-il le plus correct pour désigner un contenu pertinent ?</h2>
<ul>
<li>[ ] Populaire</li>
<li>[ ] Démocratique</li>
<li>[ ] Recommandé</li>
<li>[ ] Accessible</li>
<li>[ ] Authentique</li>
<li>[ ] Unique</li>
<li>[ ] Classique</li>
</ul>
<p><a href="???">Google PageRank System</a></p>
<hr>
<h2 id="parmi-les-termes-suivants-choisissez-le-miracle-">parmi les termes suivants, choisissez le miracle :</h2>
<ul>
<li>[ ] Jésus</li>
<li>[ ] Xerox</li>
</ul>
<p><a href="???">Xerox, It&#39;s a miracle</a></p>
<hr>
<h2 id="qui-conna-t-le-mieux-vos-produits-">qui connaît le mieux vos produits ?</h2>
<ul>
<li>[ ] Adobe</li>
<li>[ ] Apple</li>
<li>[ ] Google</li>
<li>[ ] Microsoft</li>
<li>[ ] Xerox</li>
</ul>
<p><a href="???">garantie</a></p>
<hr>
<h2 id="qui-invente-l-objet-technique-">qui invente l&#39;objet technique ?</h2>
<ul>
<li>[ ] Le constructeur</li>
<li>[ ] L&#39;utilisateur</li>
</ul>
<hr>
<h2 id="quel-est-le-r-le-d-une-garantie-">quel est le rôle d&#39;une garantie ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="votre-ordinateur-est-il-honn-te-avec-vous-">votre ordinateur est-il honnête avec vous ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="-tes-vous-honn-te-avec-votre-ordinateur-">êtes-vous honnête avec votre ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="votre-ordinateur-vous-a-t-il-d-j-fait-du-mal-">votre ordinateur vous a t-il déjà fait du mal ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
