/*
#07002d - dark blue
#1275e0 - light blue
#333333 - dark grey
#eceff1 - light grey
*/

@font-face {
	font-family: 'yrthree_black';
	src: url('../fonts/yrthree_black.woff2') format('woff2'),
	url('../fonts/yrthree_black.woff') format('woff'),
	url('../fonts/yrthree_black.ttf') format('ttf');
}

@font-face {
	font-family: 'yrthree_bold';
	src: url('../fonts/yrthree_bold.woff2') format('woff2'),
	url('../fonts/yrthree_bold.woff') format('woff'),
	url('../fonts/yrthree_bold.ttf') format('ttf');
}

@font-face {
	font-family: 'yrthree_medium';
	src: url('../fonts/yrthree_medium.woff2') format('woff2'),
	url('../fonts/yrthree_medium.woff') format('woff'),
	url('../fonts/yrthree_medium.ttf') format('ttf');
}

@font-face {
	font-family: 'yrthree_book';
	src: url('../fonts/yrthree_book.woff2') format('woff2'),
	url('../fonts/yrthree_book.woff') format('woff'),
	url('../fonts/yrthree_book.ttf') format('ttf');
}
@font-face {
	font-family: 'yrIcons';
	src: url('../fonts/yrIcons.eot?laa8thg74e');
	src: url('../fonts/yrIcons.eot?laa8thg74e#iefix') format('embedded-opentype'),
	url('../fonts/yrIcons.ttf?laa8thg74e') format('truetype'),
	url('../fonts/yrIcons.woff?laa8thg74e') format('woff'),
	url('../fonts/yrIcons.svg?laa8thg74e#yrIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="yrIcon-"], [class*=" yrIcon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'yrIcons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 
.yrIcon-afr:before {content: "\e926";}
.yrIcon-akl:before {content: "\e927";}
.yrIcon-amm:before {content: "\e928";}
.yrIcon-anz:before {content: "\e929";}
.yrIcon-arg:before {content: "\e92a";}
.yrIcon-atx:before {content: "\e92b";}
.yrIcon-auh:before {content: "\e92c";}
.yrIcon-bah:before {content: "\e92d";}
.yrIcon-bcn:before {content: "\e92e";}
.yrIcon-bey:before {content: "\e92f";}
.yrIcon-bj:before {content: "\e930";}
.yrIcon-bkk:before {content: "\e931";}
.yrIcon-bne:before {content: "\e932";}
.yrIcon-bog:before {content: "\e933";}
.yrIcon-bud:before {content: "\e934";}
.yrIcon-cai:before {content: "\e935";}
.yrIcon-cas:before {content: "\e936";}
.yrIcon-chi:before {content: "\e937";}
.yrIcon-chn:before {content: "\e938";}
.yrIcon-cmr:before {content: "\e939";}
.yrIcon-cr:before {content: "\e93a";}
.yrIcon-ct:before {content: "\e93b";}
.yrIcon-cy:before {content: "\e93c";}
.yrIcon-dc:before {content: "\e93d";}
.yrIcon-dlt:before {content: "\e93e";}
.yrIcon-doh:before {content: "\e93f";}
.yrIcon-dxb:before {content: "\e940";}
.yrIcon-ecu:before {content: "\e941";}
.yrIcon-gha:before {content: "\e942";}
.yrIcon-global:before {content: "\e943";}
.yrIcon-gz:before {content: "\e944";}
.yrIcon-ham:before {content: "\e945";}
.yrIcon-hk:before {content: "\e946";}
.yrIcon-ist:before {content: "\e947";}
.yrIcon-ita:before {content: "\e948";}
.yrIcon-jed:before {content: "\e949";}
.yrIcon-jhb:before {content: "\e94a";}
.yrIcon-kor:before {content: "\e94b";}
.yrIcon-kwi:before {content: "\e94c";}
.yrIcon-lag:before {content: "\e94d";}
.yrIcon-ldn:before {content: "\e94e";}
.yrIcon-lim:before {content: "\e94f";}
.yrIcon-lis:before {content: "\e950";}
.yrIcon-lta:before {content: "\e951";}
.yrIcon-lun:before {content: "\e952";}
.yrIcon-mad:before {content: "\e953";}
.yrIcon-mel:before {content: "\e954";}
.yrIcon-mem:before {content: "\e955";}
.yrIcon-mia:before {content: "\e956";}
.yrIcon-mln:before {content: "\e957";}
.yrIcon-mn:before {content: "\e958";}
.yrIcon-moz:before {content: "\e907";}
.yrIcon-msk:before {content: "\e908";}
.yrIcon-mvd:before {content: "\e909";}
.yrIcon-mx:before {content: "\e90a";}
.yrIcon-na:before {content: "\e90b";}
.yrIcon-nam:before {content: "\e90c";}
.yrIcon-nbo:before {content: "\e90d";}
.yrIcon-nyc:before {content: "\e90e";}
.yrIcon-par:before {content: "\e90f";}
.yrIcon-ph:before {content: "\e910";}
.yrIcon-prg:before {content: "\e911";}
.yrIcon-pty:before {content: "\e912";}
.yrIcon-rix:before {content: "\e913";}
.yrIcon-rme:before {content: "\e914";}
.yrIcon-ruh:before {content: "\e915";}
.yrIcon-sa:before {content: "\e916";}
.yrIcon-sgn:before {content: "\e917";}
.yrIcon-sh:before {content: "\e918";}
.yrIcon-sin:before {content: "\e919";}
.yrIcon-sju:before {content: "\e91a";}
.yrIcon-sp:before {content: "\e91b";}
.yrIcon-stg:before {content: "\e91c";}
.yrIcon-syd:before {content: "\e91d";}
.yrIcon-tky:before {content: "\e91e";}
.yrIcon-tun:before {content: "\e91f";}
.yrIcon-ukr:before {content: "\e920";}
.yrIcon-vie:before {content: "\e921";}
.yrIcon-waw:before {content: "\e922";}
.yrIcon-wlg:before {content: "\e923";}
.yrIcon-ygn:before {content: "\e924";}
.yrIcon-zrh:before {content: "\e925";}
.yrIcon-yrTwitter:before {content: "\e903";}
.yrIcon-yrMail:before {content: "\e904";}
.yrIcon-yrLinkedin:before {content: "\e905";}
.yrIcon-yrFacebook:before {content: "\e906";}
.yrIcon-yr-text-logo:before {content: "\e902";}
.yrIcon-yr-logo:before {content: "\e900";}
.yrIcon-relevance:before {content: "\e95c";}
.yrIcon-knowledge:before {content: "\e95d";}
.yrIcon-esteem:before {content: "\e95e";}
.yrIcon-differentiation:before {content: "\e95f";}
.yrIcon-up-arrow:before {content: "\e959";}
.yrIcon-right-arrow:before {content: "\e95a";}
.yrIcon-down-arrow:before {content: "\e95b";}
.yrIcon-left-arrow-locations:before {content: "\e901";}
*/

.yrIcon-tech:before {content: "\e960";}
.yrIcon-food:before {content: "\e961";}
.yrIcon-government:before {content: "\e962";}
.yrIcon-health:before {content: "\e963";}
.yrIcon-inspire:before {content: "\e964";}
.yrIcon-up-arrow:before {content: "\e959";}
.yrIcon-right-arrow:before {content: "\e95a";}
.yrIcon-down-arrow:before {content: "\e95b";}
.yrIcon-relevance:before {content: "\e95c";}
.yrIcon-knowledge:before {content: "\e95d";}
.yrIcon-esteem:before {content: "\e95e";}
.yrIcon-differentiation:before {content: "\e95f";}
.yrIcon-moz:before {content: "\e907";}
.yrIcon-msk:before {content: "\e908";}
.yrIcon-mvd:before {content: "\e909";}
.yrIcon-mx:before {content: "\e90a";}
.yrIcon-na:before {content: "\e90b";}
.yrIcon-nam:before {content: "\e90c";}
.yrIcon-nbo:before {content: "\e90d";}
.yrIcon-nyc:before {content: "\e90e";}
.yrIcon-par:before {content: "\e90f";}
.yrIcon-ph:before {content: "\e910";}
.yrIcon-prg:before {content: "\e911";}
.yrIcon-pty:before {content: "\e912";}
.yrIcon-rix:before {content: "\e913";}
.yrIcon-rme:before {content: "\e914";}
.yrIcon-ruh:before {content: "\e915";}
.yrIcon-sa:before {content: "\e916";}
.yrIcon-sgn:before {content: "\e917";}
.yrIcon-sh:before {content: "\e918";}
.yrIcon-sin:before {content: "\e919";}
.yrIcon-sju:before {content: "\e91a";}
.yrIcon-sp:before {content: "\e91b";}
.yrIcon-stg:before {content: "\e91c";}
.yrIcon-syd:before {content: "\e91d";}
.yrIcon-tky:before {content: "\e91e";}
.yrIcon-tun:before {content: "\e91f";}
.yrIcon-ukr:before {content: "\e920";}
.yrIcon-vie:before {content: "\e921";}
.yrIcon-waw:before {content: "\e922";}
.yrIcon-wlg:before {content: "\e923";}
.yrIcon-ygn:before {content: "\e924";}
.yrIcon-zrh:before {content: "\e925";}
.yrIcon-afr:before {content: "\e926";}
.yrIcon-akl:before {content: "\e927";}
.yrIcon-amm:before {content: "\e928";}
.yrIcon-anz:before {content: "\e929";}
.yrIcon-arg:before {content: "\e92a";}
.yrIcon-atx:before {content: "\e92b";}
.yrIcon-auh:before {content: "\e92c";}
.yrIcon-bah:before {content: "\e92d";}
.yrIcon-bcn:before {content: "\e92e";}
.yrIcon-bey:before {content: "\e92f";}
.yrIcon-bj:before {content: "\e930";}
.yrIcon-bkk:before {content: "\e931";}
.yrIcon-bne:before {content: "\e932";}
.yrIcon-bog:before {content: "\e933";}
.yrIcon-bud:before {content: "\e934";}
.yrIcon-cai:before {content: "\e935";}
.yrIcon-cas:before {content: "\e936";}
.yrIcon-chi:before {content: "\e937";}
.yrIcon-chn:before {content: "\e938";}
.yrIcon-cmr:before {content: "\e939";}
.yrIcon-cr:before {content: "\e93a";}
.yrIcon-ct:before {content: "\e93b";}
.yrIcon-cy:before {content: "\e93c";}
.yrIcon-dc:before {content: "\e93d";}
.yrIcon-dlt:before {content: "\e93e";}
.yrIcon-doh:before {content: "\e93f";}
.yrIcon-dxb:before {content: "\e940";}
.yrIcon-ecu:before {content: "\e941";}
.yrIcon-gha:before {content: "\e942";}
.yrIcon-global:before {content: "\e943";}
.yrIcon-gz:before {content: "\e944";}
.yrIcon-ham:before {content: "\e945";}
.yrIcon-hk:before {content: "\e946";}
.yrIcon-ist:before {content: "\e947";}
.yrIcon-ita:before {content: "\e948";}
.yrIcon-jed:before {content: "\e949";}
.yrIcon-jhb:before {content: "\e94a";}
.yrIcon-kor:before {content: "\e94b";}
.yrIcon-kwi:before {content: "\e94c";}
.yrIcon-lag:before {content: "\e94d";}
.yrIcon-ldn:before {content: "\e94e";}
.yrIcon-lim:before {content: "\e94f";}
.yrIcon-lis:before {content: "\e950";}
.yrIcon-lta:before {content: "\e951";}
.yrIcon-lun:before {content: "\e952";}
.yrIcon-mad:before {content: "\e953";}
.yrIcon-mel:before {content: "\e954";}
.yrIcon-mem:before {content: "\e955";}
.yrIcon-mia:before {content: "\e956";}
.yrIcon-mln:before {content: "\e957";}
.yrIcon-mn:before {content: "\e958";}
.yrIcon-yrTwitter:before {content: "\e903";}
.yrIcon-yrMail:before {content: "\e904";}
.yrIcon-yrLinkedin:before {content: "\e905";}
.yrIcon-yrFacebook:before {content: "\e906";}
.yrIcon-left-arrow-locations:before {content: "\e901";}
.yrIcon-yr-text-logo:before {content: "\e902";}
.yrIcon-yr-logo:before {content: "\e900";}

.yrIcon-arrow-left:before {content: "\e901";}
.yrIcon-arrow-right:before {display:inline-block;content: "\e901";transform: rotate(180deg);}
.yrIcon-arrow-up:before {display:inline-block;content: "\e901";transform: rotate(90deg);}
.yrIcon-arrow-down:before {display:inline-block;content: "\e901";transform: rotate(-90deg);}






/* BODY FADE IN */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		/* -webkit-transform:translateY(80px); */
		        /* transform:translateY(80px); */
			}
	10% {opacity: 0;}
	100% {
		opacity: 1;
		/* -webkit-transform:translateY(0); */
		        /* transform:translateY(0); */
			}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		/* -webkit-transform:translateY(80px); */
		        /* transform:translateY(80px); */
			}
	10% {opacity: 0;}
	100% {
		opacity: 1;
		/* -webkit-transform:translateY(0); */
		        /* transform:translateY(0); */
			}
}
body {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
/* 
img.yrFadeIn {
	opacity:0;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
 */
@-webkit-keyframes moveIn {
	0% {
		-webkit-transform:translateY(80px);
		        transform:translateY(80px);
			}
	100% {
		-webkit-transform:translateY(0);
		        transform:translateY(0);
			}
}
@keyframes moveIn {
	0% {
		-webkit-transform:translateY(80px);
		        transform:translateY(80px);
			}
	100% {
		-webkit-transform:translateY(0);
		        transform:translateY(0);
			}
}
#region3wrap, #region2wrap {
	-webkit-animation-name: moveIn;
	animation-name: moveIn;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	/* -webkit-animation-delay: 2s; */
	/* animation-delay: 2s; */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

/************************/
/* HOME PAGE HERO IMAGE */
/************************/
body.frontpage #region1 {
	overflow:hidden;
	/* height:100vh; */
height: calc(100vh - 50px);
	padding:0;
	margin:0;
	/* background: transparent url(../../../images/yr/resist-spaceman3.jpg) no-repeat fixed 50% 50%; */
	/* background: transparent url("../../../images/yr/resist-blue-animation.gif") no-repeat fixed 50% 50%; */
	/* background: transparent url(http://193.189.74.77/~yrdev/demos/astaunaut-103405581-4-MW-small.gif) no-repeat fixed 50% 50%; */
	background: transparent url(../../../images/yr/astronaut.gif) no-repeat fixed 50% 50%;
	background-size: cover;
	-webkit-transition:all 0s ease-in-out;
	transition:all 0s ease-in-out;
	}
@media (max-width: 1028px) {
	body.frontpage #region1 {background-attachment:scroll;
	-webkit-transition:all 2500ms ease-in-out;
	transition:all 2500ms ease-in-out;}
}
body.frontpage #region1 > .module {
	padding:0;
	margin:0;
	/* background: transparent url(../../../images/yr/resist-text.svg) no-repeat fixed 50% 50%; */
	height:100%;
}
body.frontpage #region1 > .module > .modulecontent{position:relative;padding:0;margin:0;min-height:100%;}
.resistText{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	/* margin:50% auto 0 auto; */
	width:700px;
	max-width:80%;
	height:100%;
	background: transparent url(../../../images/yr/resist-text.svg) no-repeat scroll 50% 50%;
	background-size:contain;
}



/********************/
/* GLOBAL SITE LOGO */
/********************/
 .siteLogo, .siteLogo:hover, .siteLogo:focus {
	z-index:99;
	font-size:29px;
	color:#07002D;
	text-decoration:none;
	-webkit-transition:all 400ms 200ms;
	transition:all 400ms 200ms;
	position:fixed;
	top:32px;
	left:30px;
	outline:none;
}
/*
.siteLogo {
	width:74px;
	font-size:0;
	z-index:99;
	color:#07002D;
	text-decoration:none;
	-webkit-transition:all 400ms 200ms;
	transition:all 400ms 200ms;
	position:fixed;
	top:32px;
	left:30px;
	outline:none;
}
*/
.siteLogo span {display:none;}
.menuOpen .siteLogo, .menuOpen .siteLogo:hover, .menuOpen .siteLogo:focus {color:white;}
.yr-homepage .siteLogo, .yr-homepage .siteLogo:hover, .yr-homepage .siteLogo:focus {color:white;}
.hideMenu .siteLogo {top:-150px;}
@media (max-width: 767px) {
	.siteLogo, .siteLogo:hover, .siteLogo:focus {font-size:23px;}
}
@media (max-width: 480px) {
	#headerwrap #logo {top:10px;left:10px;}
}


/******************/
/* BURGER NAVICON */
/******************/
#navicon {cursor: pointer;position:fixed;top: 24px;right:26px;z-index:99;-webkit-transition: top 400ms 200ms;transition: top 400ms 200ms;}
.hideMenu #navicon {top:-150px;}
.bar1, .bar2, .bar3 {width: 36px;height: 3px;margin: 9px 0;background-color: #07002D;-webkit-transition: 0.4s;transition: 0.4s;}
.yr-homepage .bar1, .yr-homepage .bar2, .yr-homepage .bar3 {background-color: white;}
.menuOpen .bar1 {
	background-color:#eceff1;
	-webkit-transform: rotate(-45deg) translate(-10px, 7px);
	transform: rotate(-45deg) translate(-12px, 7px);
}
.menuOpen .bar2 {opacity: 0;}
.menuOpen .bar3 {
	background-color:#eceff1;
	-webkit-transform: rotate(45deg) translate(-9px, -5px);
	transform: rotate(45deg) translate(-9px, -5px);
}
@media (max-width: 767px) {
	#navicon {top: 28px;right:30px;}
	.bar1, .bar2, .bar3 {width:30px;margin:6px 0;}
	.menuOpen .bar1 {-webkit-transform: rotate(-45deg) translate(-8px, 7px);transform: rotate(-45deg) translate(-8px, 7px);}
	.menuOpen .bar3 {-webkit-transform: rotate(45deg) translate(-6px, -5px);transform: rotate(45deg) translate(-6px, -5px);}
}




/****************/
/* MAIN MENU v3 */
/****************/
body.lockScroll {height:100%;overflow:hidden;}
div.yrMenuContainer {z-index:-1;}

div.yrMenuContainer {
	z-index:98;
	-webkit-transform-origin:top left;
	transform-origin:top left;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all 200ms ease-in-out;
	transition:all 200ms ease-in-out;
	position:fixed;
	top:0;left:0;width:100%;height:100vh;background:#07002D;}
.menuOpen .yrMenuContainer {-webkit-transform:scale(1);transform:scale(1);}

ul#yrMenu {margin:0;list-style-type:none;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
ul#yrMenu li {
	display:block;
	font-family:yrthree_bold, sans-serif;
	font-size:34px;
	letter-spacing:1px;
	opacity:0;
	text-align:center;
}
ul#yrMenu li a {
	display:block;
	color:white;
	text-decoration:none;
	padding:20px;
	-webkit-transition:color 500ms;
	transition:color 500ms;
	text-transform:uppercase;
	letter-spacing:4px;
}
ul#yrMenu li a:hover, ul#yrMenu li.active a:hover {color:#1275e0;}
ul#yrMenu li.current a {color:#1275e0;}
li.item-1670 a:hover {animation: thePulseMain 1200ms infinite;}
@-webkit-keyframes thePulseMain {
	0%, 30%, 90% {letter-spacing: 4px;}
	15%, 60% {letter-spacing: 5px;}
}
@keyframes thePulseMain {
	0%, 30%, 90% {letter-spacing: 4px;}
	15%, 60% {letter-spacing: 5px;}
}
@media (max-width: 979px) {
	ul#yrMenu li a {font-size:30px;padding:10px;}
}
@media (max-width: 767px) {
	ul#yrMenu li a {font-size:20px;padding:8px;}
}



div#navSocial {position:absolute;bottom:30px;right:30px;text-align:center;}
div#navSocial a {color: #eceff1;font-size:2em;padding:10px;display:block;opacity:0;-webkit-transition: 0.2s;transition: 0.2s;}
div#navSocial a:hover {
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color:#1275e0;
}
@media (max-width: 767px) {
	div#navSocial {bottom:10%;right:auto;width:100%;margin:0 auto;}
	div#navSocial a {display:inline;opacity:0;}
}






/* FOOTER MENU 
.yrFootMenuContainer {text-align:center;font-family: 'yrthree_book', arial,helvetica,sans-serif;font-weight:bold;font-size:12px;}
.yrFootMenuContainer .yrFootLogo {margin-top:30px;font-size:100px;color:white;}
.yrFootMenuContainer ul.yrFootNav {}
.yrFootMenuContainer ul.yrFootNav {list-style-type:none;margin:30px auto 0 auto;}
.yrFootMenuContainer ul.yrFootNav li {display:inline-block;margin:0;}
.yrFootMenuContainer ul.yrFootNav li+li:before {content:' / ';color:white;white-space: pre;}
.yrFootMenuContainer a {transition:all 400ms;letter-spacing:2px;}
.yrFootMenuContainer ul.yrFootNav a {color:white;text-transform:uppercase;}
.yrFootMenuContainer ul.yrFootNav .active a, 
.yrFootMenuContainer ul.yrFootNav a:hover{color:#1275e0;}
.yrFootMenuContainer #navSocialFoot {margin-top: 20px;}
.yrFootMenuContainer #navSocialFoot a {color:#1275e0;font-size:36px;margin: 0 20px;}
.yrFootMenuContainer #navSocialFoot a:hover {color:white;}
#naviconFoot {display:none;text-align:center;cursor:pointer;margin-top:30px;}
#naviconFoot .bar1, #naviconFoot .bar2, #naviconFoot .bar3 {background-color: white;margin-left: auto;margin-right: auto;}
div.footer .modulecontent, 
div.footer .modulecontent a {font-size:10px;color:#fff;}
li.item-1665 a:hover {animation: thePulseFooter 1200ms infinite;}
@-webkit-keyframes thePulseFooter {
	0%, 30%, 90% {letter-spacing: 2px;}
	15%, 60% {letter-spacing: 3px;}
}
@keyframes thePulseFooter {
	0%, 30%, 90% {letter-spacing: 2px;}
	15%, 60% {letter-spacing: 3px;}
}
@media (max-width: 767px) {
	.yrFootMenuContainer #navSocialFoot a {margin: 0 10px;}
	.yrFootNav {display:none;}
	#naviconFoot {display:block;}
}
.footerLegals .yrCopyright {text-align:left;}
.footerLegals p {font-family: yrthree_book, arial, helvetica;font-size:11px;text-transform:none;}
@media (max-width: 979px) {
	.footerLegals .span6 {width:100%;display:block;float:none;}
	.footerLegals p {text-align:center;}
}
*/
#footerpad {padding:80px 0 20px 0;}
.footerLeft {padding:30px 0;color:#929497;}
.footerLeft .theLogo {margin-left:16.66%;float:left;position:relative;}
.footerLeft .yrFootLogo {font-size:35px;color:#929497;}
.footerLeft #navSocialFoot {display:none;}
.footerLeft .theMenu {float:left;margin-left:16.66%;}
.footerLeft ul {margin:-9px 0 0 0;padding:0;list-style-type:none;}
.footerLeft li {font-size:14px;line-height:200%;}
.footerLeft a {font-family:yrthree_bold,arial,helvetica;color:#929497;-webkit-transition:color 500ms;transition:color 500ms;}
.footerLeft a:hover {color:#ffffff;}
.footerRight {padding:30px 0;color:#929497;margin-right:16.66%;}
.footerRight .social {margin-bottom:35px;text-align:right;}
.footerRight .social a {font-size:25px;margin-left:30px;}
.footerRight  p {color:#929497;font-family: yrthree_book, arial, helvetica;font-size:11px;text-align:right;text-transform:none;}
.footerRight a {color:#929497;-webkit-transition:color 500ms;transition:color 500ms;}
.footerRight a:hover {color:#ffffff;}
@media (max-width: 767px) {
	.yrFootMenuContainer {text-align:center;}
	.footerLeft, .footerRight {padding:0;margin:0;}
	.footerLeft .theLogo {float:none;margin:0 0 40px 0;}
	.footerLeft .theMenu {float:none;margin:0 0 20px 0;}
	.footerRight p {text-align:center;}
	.footerRight .social {text-align:center;}
	.footerRight .social a {margin: 0 20px 40px 0;}
	.footerRight .legal {margin: 0 0 40px 0;}
    .footerLeft ul {margin:0;}
}

/* Style Adjustments for Footer menu to wrap h2 tags for SEO */
ul#footMenuList li h2 {
	font-size: 14px!important;
	line-height: 200%!important;
	margin: 0;
}

/* SCROLL REVEAL TYPE STUFF */
.enhanced .revealer, 
/* .enhanced div#region2wrap, 
.enhanced div#region3wrap, */
.enhanced div#region4wrap, 
.enhanced div#region5wrap, 
.enhanced div#region6wrap, 
.enhanced div#region7wrap, 
.enhanced div#region8wrap, 
.enhanced div#region9wrap, 
.enhanced div#region10wrap, 
.enhanced div#region11wrap {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	-webkit-transition: all 800ms cubic-bezier(0.8, 0, 0, 0.8) 300ms;
	transition: all 800ms cubic-bezier(0.8, 0, 0, 0.8) 300ms;
}
.enhanced div.revealed {
	-webkit-transform: translateY(0)!important;
	transform: translateY(0)!important;
	opacity: 1!important;
}

/* TRYPTYCH STYLING FOR ABOUT & CAREERS ARTICLES */
.yrArticleTriptych {background:#303030; color:white;padding:0 0 0 0;margin:0;text-align:left;}
.yrArticleTriptych .textBlock h1, 
.yrArticleTriptych .textBlock h4 {color:white;}
#component .yrArticleTriptych p {margin-bottom:0;}
.yrArticleTriptych .dividerBlock {text-align:center;background:#fff; color:#07002D;margin:0;padding: 110px 0;}
.yrArticleTriptych .dividerBlock .span4 {padding:0;}
.yrArticleTriptych .imageBlock.imageRows2 div {position:relative;overflow:hidden;height:280px;width:100%;}
.yrArticleTriptych .imageBlock.imageRows1 div {position:relative;overflow:hidden;height:560px;width:100%;}
.yrArticleTriptych .imageBlock img {width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.yrArticleTriptych .imageBlock.span6.offset1 {margin-left:10.638297872340425%;}
.yrArticleTriptych .textBlock {padding:50px 0;height:560px;position:relative;}
.yrArticleTriptych .textBlock .vAlign {position:absolute;top:50%;transform:translateY(-50%);}
.yrArticleTriptych .span4.yrpractice {padding-top:20px;}
@media (min-width: 1200px) {
	.yrArticleTriptych .imageBlock.span6.offset1 {margin-left: 11.11111111111111%;}
}
@media (max-width: 979px) {
	.yrArticleTriptych .span6 {margin:0;width:100%;display:block;float:none;text-align:center;}
	.yrArticleTriptych .imageBlock div{height:300px!important;}
	.yrArticleTriptych .textBlock .vAlign {position:inherit;top:auto;transform:translateY(0);}
	.yrArticleTriptych .textBlock {height:auto;}
}
@media (max-width: 767px) {
	.yrArticleTriptych .textBlock, .yrArticleTriptych .globalBoutique, .yrArticleTriptych .threePractices {padding:50px;text-align:center;}
	.yrArticleTriptych .imageBlock div{height:250px!important;}
}

/* ABOUT PAGE STYLING FOR ARTICLE */
.Itemid1679 #component {margin-bottom: 0px;}

/* CAREERS PAGE */
.yrCareers .yrCareersIntro {padding:80px 0;}
.yrCareers .yrCareersIntro p {margin:0 auto!important;max-width:600px;}
#component .yrCareers .yrCareersIntro h2 {margin: 40px 0;}
.yrCareers  .recruitmentButtons ul {list-style-type:none;margin:0;}
.yrCareers  .recruitmentButtons li {margin:20px 0;display:inline-block;}
.yrCareers  .recruitmentButtons .btn {width:70px;height:70px;line-height:70px;margin:0 20px;padding:0!important;/* border:2px solid #1275e0!important;font-weight:bold;color:#1275e0;-webkit-transition:all 500ms;transition:all 500ms; */}
/* .yrCareers  .recruitmentButtons .btn:hover {color:white;} */
.yrMapContainer {position:relative;width:100%;height:0;padding:0 0 66% 0;margin:0 auto;text-align:center;}
.yrMapContainer svg {position:absolute;width:100%;height:100%;left:0;top:0;}
/* .yrCareers  .recruitmentButtons .btn.activeRegionButton {background:#1275E0!important;color:white;} */
.continent circle {-moz-transition:500ms all ease-in-out;-webkit-transition:500ms all ease-in-out;transition:500ms all ease-in-out;}
.continent:hover circle, 
.continent.activeContinent circle {
	cursor:pointer;
	fill:#1275E0;
	-moz-transition:500ms all ease-in-out;
	-webkit-transition:500ms all ease-in-out;
	transition:500ms all ease-in-out;
}


/* K2 CONTENT WALL TRIPTYCH */
.yrModuleTriptych * {-webkit-transition:all 400ms;transition:all 400ms;}
.yrModuleTriptych .span6 {margin:0;padding:0;width:50%!important;}
.yrModuleTriptych .contentBlock {background:black;position:relative;overflow:hidden;}
.yrModuleTriptych .centeredContent {width:80%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.yrModuleTriptych .imageHolder {background-size:cover;height:100%;background-position:center;}
.yrModuleTriptych .halfHeight {height:285px;}
.yrModuleTriptych .fullHeight {height:570px;}
.yrModuleTriptych p {line-height: 150%;font-family: yrthree_book, sans-serif;}
.yrModuleTriptych .title {font-family:yrthree_bold, arial, helvetica;font-size:20px;}
.yrModuleTriptych hr {border:2px solid #1275E0;width:50px;margin:20px auto;}
.yrModuleTriptych .fadeIn {opacity:0;}
.yrModuleTriptych .flyInFromLeft {-webkit-transform:translateX(-200px);transform:translateX(-200px);}
.yrModuleTriptych .flyInFromRight {-webkit-transform:translateX(200px);transform:translateX(200px);}
.yrModuleTriptych .flyInFromTop {-webkit-transform:translateY(-200px);transform:translateY(-200px);}
.yrModuleTriptych .flyInFromBottom {-webkit-transform:translateY(200px);transform:translateY(200px);}
.yrModuleTriptych a {color:white;text-align:center;}
.yrModuleTriptych a:hover .imageHolder {opacity:0.1;}
.yrModuleTriptych a:hover .fadeIn {opacity:1;}
.yrModuleTriptych a:hover .flyInFromLeft, 
.yrModuleTriptych a:hover .flyInFromRight, 
.yrModuleTriptych a:hover .flyInFromTop, 
.yrModuleTriptych a:hover .flyInFromBottom {-webkit-transform:translate(0,0);transform:translate(0,0);}
@media (max-width: 979px) {
	.yrModuleTriptych  a .imageHolder {opacity:0.7;}
	.yrModuleTriptych  a .fadeIn, 
	.yrModuleTriptych  a .flyInFromLeft, 
	.yrModuleTriptych  a .flyInFromRight, 
	.yrModuleTriptych  a .flyInFromTop, 
	.yrModuleTriptych  a .flyInFromBottom {opacity:1;-webkit-transform:translate(0,0);transform:translate(0,0);}
}
@media (max-width: 767px) {
	.yrModuleTriptych .fullHeight, .yrModuleTriptych .halfHeight {height:240px;}
	.yrModuleTriptych .span6 {width:100%!important;display:block;float:none;}
	.yrModuleTriptych p.title {font-size:15px;}
}





/* PARALLAX GENERIC CLASSES */
.parallaxInnerImage {position:relative;overflow:hidden;width:100%;}
.parallaxInnerImage img {width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}


/* BAV CONTACT FORM */
.bavContact input[type="text"], 
.bavContact input[type="email"], 
.bavContact textarea {width:calc(100% - 20px);padding:10px;}
.bavContact .copySender input {float:left;margin-right:10px;}
.bavContact label {text-align:left;display:inline-block;float:left;}
.bavContact fieldset {margin-bottom:20px;}
.bavContact .optional {display:none;}
@media (max-width: 767px) {
	.bavContact .control-group {width:80%;margin:0px auto 20px auto;}
}

/* Turn off alert message on BAV Email Success Page */
.BAVEmailSuccess .alert-message {display: none;}

/* BAV PAGE STYLING */
#aboutBav p {font-size:16px;}
#aboutBav h1 {margin: 40px 0 20px!important;}
#aboutBav .bavBrief {text-align:left;margin:60px 0 80px;}
#aboutBav .bavBrief p {margin-bottom:0;}
#aboutBav .bavCounter {background:url("../../../images/yr/bav/BAV-bg-1920.jpg") no-repeat;background-position:center;background-size:cover;height:0;padding-bottom:41.66%;margin: 0 0 40px 0;position:relative;}
#aboutBav .stats {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:74%;}
#aboutBav .stats p {display:none;width:33%;margin:0;padding:0;text-align:center;color:white;float:left;font-family:yrthree_bold,arial,helvetica;font-size:17px;line-height:1;text-transform:uppercase;}
#aboutBav .stats .spinner {display:block;font-size: 120px;}

#aboutBav .bavHow {background:#f2f2f2;padding:80px 0 80px;}
#aboutBav .bavHow h1 {margin-top:0!important;}
#aboutBav .squareBracket {width:100%;height:20px;margin:20px auto;border-top:1px solid #2959f8;border-left:1px solid #2959f8;border-right:1px solid #2959f8;box-sizing:border-box;}
#aboutBav .iconContainer h2 {line-height:1!important;color:#2959f8;margin:0 0 10px 0;padding:0;letter-spacing:0;font-family:yrthree_bold,arial,helvetica;}
#aboutBav .iconContainer p {color:#2959f8;margin:0;}
#aboutBav .iconContainer {margin:80px auto;}
#aboutBav .centeredCard {width:100%;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#aboutBav .iconContainer .front [class^="yrIcon-"] {font-size:55px;color:#2959f8;}
#aboutBav .iconContainer .back [class^="yrIcon-"] {font-size:44px;color:#ffffff;}
#aboutBav .flip-container {-webkit-perspective: 1000;perspective: 1000px;width:25%;}
#aboutBav .flip-container.hover .flipper {-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
#aboutBav .flip-container, .front, .back {width:100%;height:0;padding-bottom:100%;}
#aboutBav .flipper {-webkit-transition: 0.6s;transition: 0.6s;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;position: relative;}
#aboutBav .front, .back {-webkit-backface-visibility: hidden;backface-visibility: hidden;position: absolute;top: 0;left: 0;}
#aboutBav .front {z-index: 2;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);background:#fff;}
#aboutBav .front p {margin-top:10px;font-family:yrthree_bold,arial,helvetica;text-transform:uppercase;}
#aboutBav .back {-webkit-transform: rotateY(180deg);transform: rotateY(180deg);background:#2959f8;color:white;}
#aboutBav .back  p {font-size:14px;margin-top:10px;color:#ffffff;line-height:1.3;padding:0 50px;}

#aboutBav .bavSlider h1 {margin:80px 0 80px!important;}
#aboutBav #bavCarousel {text-align:left;margin-bottom: 80px;}
#aboutBav #bavCarousel .item {background:#f2f2f2;}
#aboutBav .slideContent{padding:100px 100px 0;width:50%;float:left;box-sizing:border-box;}
#aboutBav .slideContent p{margin-bottom:0;}
#aboutBav .slideContent h2{margin-top:0;}
#aboutBav .slideImageContainer{width:50%;float:left;}
#aboutBav .slideImage{height:0;padding:0 0 75% 0;background-repeat:none;background-position:center;background-size:cover;}
#aboutBav .slideImage.bavAudit {background-image:url('../../../images/yr/bav/bav-brand-equity-audit-960.jpg');}
#aboutBav .slideImage.bavPosition {background-image:url('../../../images/yr/bav/bav-brand-position-960.jpg');}
#aboutBav .slideImage.bavSocial {background-image:url('../../../images/yr/bav/bav-social-960.jpg');}
#aboutBav .slideImage.bavPartnership {background-image:url('../../../images/yr/bav/bav-partnership-960.jpg');}
#aboutBav .slideImage.bavPortfolio {background-image:url('../../../images/yr/bav/bav-portfolio-architecture-960.jpg');}
#aboutBav .slideImage.bavCampaign {background-image:url('../../../images/yr/bav/bav-campaign-track-960.jpg');}
#aboutBav #bavCarousel h2 {}
#aboutBav .slideIndicators {text-align:center;list-style: none;position:static;margin-top:40px;}
#aboutBav .slideIndicators li {background:#a2a2a2;border-radius:5px;display:inline-block;float:none;width:10px;height:10px;margin:0 3px;cursor:pointer;}
#aboutBav .slideIndicators li.active {background:#2959f8;}

#aboutBav .contactBavContainer {padding-bottom:80px;}
#aboutBav .contactBavContainer h1 {margin:80px 0 40px!important;}
#aboutBav p.contactBav, #aboutBav p.contactBav a {font-family:yrthree_bold,arial,helvetica;text-transform:uppercase;color:#2959f8;}
@media (max-width: 1200px) {
	#aboutBav .back  p {padding:0 30px;}
	#aboutBav .slideContent {padding: 70px 70px 0;}
}
@media (max-width: 1060px) {
	#aboutBav .front p, #aboutBav .back p {font-size:14px;}
	#aboutBav .back  p {padding:0 15px;}
	#aboutBav .slideContent {padding: 50px 50px 0;}
}
@media (max-width: 979px) {
	#aboutBav .bavCounter {background:url("../../../images/yr/bav/BAV-bg-980.jpg") no-repeat;background-position:center;background-size:cover;}
	#aboutBav p {font-size:inherit;}
	#aboutBav .bavCounter {padding-bottom:75%;}
	#aboutBav .bavBrief {padding:0 22px;box-sizing:border-box;}
	#aboutBav .bavHow > p {padding:0 22px;box-sizing:border-box;}
	#aboutBav .contactBavContainer {padding:0 22px;box-sizing:border-box;}
	#aboutBav .stats {width:80%;}
	#aboutBav .stats p {font-size:14px}
	#aboutBav .stats .spinner {font-size:90px}
	#aboutBav .front p, #aboutBav .back p {font-size:12px;line-height:1.1;}
	#aboutBav .back  p {padding:0 8px;}
	#aboutBav .iconContainer .back [class^="yrIcon-"] {font-size:30px;}
	#aboutBav .slideContent{width:100%;float:none;position:absolute;top:60px;padding:0 60px;z-index:3;}
	#aboutBav .slideContent h2 {color:white;font-size:20px;}
	#aboutBav .slideContent p {color:white;font-size:14px;line-height:1.6;}
	#aboutBav .slideImageContainer{width:100%;float:none;background:#000;}
	#aboutBav .slideImage{opacity:0.4;padding:0 0 100% 0;}
}
@media (max-width: 767px) {
	body.Itemid1712 #region3.xtc-fluidwrapper {padding:0;}
	#aboutBav .stats p {font-size:12px}
	#aboutBav .stats .spinner {font-size:70px}
	#aboutBav .squareBracket {width:92%;}
	#aboutBav .iconContainer > div {margin-bottom:40px;}
	#aboutBav .iconContainer .iconGroup .span6 {width:44%;float:left;margin-left:4%;}
	#aboutBav .iconContainer .iconGroup > p {display:none;}
	#aboutBav .iconContainer {margin: 80px auto 40px;}
	#aboutBav #bavCarousel {margin-bottom:0;}
	#aboutBav .iconContainer .back [class^="yrIcon-"] {font-size:40px;}
	#aboutBav .front p, #aboutBav .back p {font-size:15px;line-height:1.7;}
	#aboutBav .back  p {padding:0 20px;}
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
	#aboutBav .bavCounter {background:url("../../../images/yr/bav/BAV-bg-600.jpg") no-repeat;background-position:center;background-size:cover;}
	#aboutBav .stats p {font-size:10px}
	#aboutBav .stats .spinner {font-size:70px}
	#aboutBav .iconContainer .front [class^="yrIcon-"] {font-size:40px;}
	#aboutBav .iconContainer .back [class^="yrIcon-"] {font-size:30px;}
	#aboutBav .front p, #aboutBav .back p {font-size:14px;line-height:1.4;}
}
@media (max-width: 500px) {
	#aboutBav .stats {width:90%;}
	#aboutBav .stats .spinner {font-size:50px}
	#aboutBav .front p, #aboutBav .back p {font-size:13px;line-height:1.2;padding:0 7px;}
	#aboutBav .slideImage.bavAudit {background-image:url('../../../images/yr/bav/bav-brand-equity-audit-480.jpg');}
	#aboutBav .slideImage.bavPosition {background-image:url('../../../images/yr/bav/bav-brand-position-480.jpg');}
	#aboutBav .slideImage.bavSocial {background-image:url('../../../images/yr/bav/bav-social-480.jpg');}
	#aboutBav .slideImage.bavPartnership {background-image:url('../../../images/yr/bav/bav-partnership-480.jpg');}
	#aboutBav .slideImage.bavPortfolio {background-image:url('../../../images/yr/bav/bav-portfolio-architecture-480.jpg');}
	#aboutBav .slideImage.bavCampaign {background-image:url('../../../images/yr/bav/bav-campaign-track-480.jpg');}
}
@media (max-width: 400px) {
	#aboutBav .bavCounter {background:url("../../../images/yr/bav/BAV-bg-400.jpg") no-repeat;background-position:center;background-size:cover;}
	#aboutBav .stats p {font-size:10px}
	#aboutBav .stats .spinner {font-size:40px}
	#aboutBav .iconContainer .back [class^="yrIcon-"] {display:none;}
	#aboutBav .back p {margin-top:0;}
}
@media (max-width: 350px) {
	#aboutBav .slideContent{top:30px;padding:0 30px;}
}
@media (max-width: 300px) {
	#aboutBav .slideContent{top:10px;padding:0 10px;}
	#aboutBav .slideContent p{line-height:1.4;margin-top:10px;}
}
