.yrItem {text-align:left;margin-top: 120px;}
.yrItem .itemTitle h1 {font-size:60px;text-align:center;margin-bottom:30px;}
.yrItem .itemTitle hr {width: 50px;margin: 0 auto 30px;border: 3px solid #07002D;}
.yrItem .itemTitle p {text-align:center;line-height:1;margin:0;}

.yrItem .dividerBlock {height:80px;}

.yrItem .itemBody p {text-align:left;}
.yrItem .itemBody h4 {font-size:35px;text-transform:none;line-height:120%!important;margin:0 0 40px 0;}
.yrItem .itemBody blockquote {width:66%;padding:60px 0;margin:0 auto;display:block;}
.yrItem .itemBody blockquote p:before {content: "\0201C";}
.yrItem .itemBody blockquote p:after {content: "\0201D";}
.yrItem .itemBody blockquote, 
.yrItem .itemBody blockquote p {text-transform:uppercase;line-height:1;font-size:40px;text-align:center;color:#1275E0;border:0 none;font-family:yrthree_bold, arial, helvetica, sans-serif;}

.yrItem .visitSiteLink {text-align:center;margin-bottom:50px;}

.yrItem .shareBlock {display:none;}
.yrItem .shareBlock p {margin:0;padding:0;line-height:1.5;}
.yrItem .shareBlock .date {font-family:yrthree_bold;}
.yrItem .shareBlock button {color:#1275e0;letter-spacing:3px;font-family:yrthree_bold;margin:20px 0;padding:12px!important;display:block;-webkit-transition:all 300ms;transition:all 300ms;}
.yrItem .shareBlock button:hover {color:#ffffff;}
.yrItem .shareBlock .shareLinks {
	list-style-type:none;
	margin:0 auto;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transform-origin:top left;
	transform-origin:top left;
	-webkit-transition:transform 600ms;
	transition:transform 600ms;
}
.yrItem .shareBlock .shareLinks.visible {-webkit-transform:scale(1);transform:scale(1);}
.yrItem .shareBlock .shareLinks li {text-align:left;margin:10px 0;}
.yrItem .shareBlock .shareLinks a {font-size:40px;-webkit-transition:color 300ms;transition:color 300ms;}
.yrItem .shareBlock .shareLinks a:hover, .yrItem .shareBlock .shareLinks a:focus{color:#07002D;}

@media (max-width: 979px) {
}
@media (max-width: 767px) {
	.yrItem {margin-top:50px;}
    .yrItem .itemBody p {padding:0 40px;}
	.yrItem .itemBody h4 , 
	.yrItem .itemTitle h1 {font-size:30px;padding:0 40px;}
	.yrItem .itemBody blockquote {width:80%;padding:30px 0;}
	.yrItem .itemBody blockquote, 
	.yrItem .itemBody blockquote p {font-size:30px;}
	.yrItem .shareBlock button {margin:20px auto;}
	.yrItem .shareBlock .shareLinks {text-align:center;-webkit-transform-origin:top center;transform-origin:top center;}
	.yrItem .shareBlock .shareLinks li {display:inline-block;}
	.yrItem .dividerBlock {height:50px;}
	.yrItem .itemBody h4 {font-size:26px;}
}

/* FOR FOR NON RESPONSIVE MODAL LIGHTBOX */
div#sbox-window {height:auto!important;/* top:50%!important;left:50%!important;transform:translate(-50%,-50%); */}
div.sbox-content-image img {max-width:100%;height:auto;}