/* Styles to be merged with .less */
.article-text td {
  padding: 0 10px;
  font-size: 95%;
}
/*
.flashPlayer {
	position:  relative;
	width: 100% !important;
	height: 0 !important;
	padding-bottom: 56.25%;
}
.flashPlayer video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height:  100%;
}
*/