@import url(//web.archive.org/web/20101031055501cs_/http://www.google.com/css/go-x.css);
@import url(//web.archive.org/web/20101031055501cs_/http://fonts.googleapis.com/css?family=Droid+Sans);

@media screen, projection {

html {
  font-size: 0.81em;
  line-height: 1.54;
  background-color: white;
}

body {
  width: 100%;
  max-width: 100%;
  padding: 12px 0;
}

h1,
h2 {
  font-family: 'Droid Sans', arial, sans-serif;
  font-weight: normal;
  line-height: 1.25;
  padding: 0;
}

h1 {
  font-size: 1.6em;
  margin: 0 0 0.4em;
}

h2 {
  font-size: 1.4em;
  margin: 1.75em 0 0.4em;
}

h3 {
  margin: 1em 0 0.4em;
  padding: 0;
}

h4 {
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 1em 0 0;
}

#aux {
  margin: 0 0 3em 160px;
}

#footer_level1 p,
#footer_level2 p,
#footer_copyright p,
#header,
#main {
  max-width: 960px;
  margin: auto;
}

#footer_level1,
#footer_level2,
#footer_copyright {
  padding: 0.35em 1em;
  color: #777;
}

#footer_level1 a:link,
#footer_level1 a:active,
#footer_level1 a:visited,
#footer_level2 a:link,
#footer_level2 a:active,
#footer_level2 a:visited,
#footer_copyright a:link,
#footer_copyright a:active,
#footer_copyright a:visited {
  color: #777;
}

#footer_level1 {
  background: #ddd;
  border-top: 1px solid #ccc;
  clear: both;
}

#footer_level2 {
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
}

#about {
  border: 0;
}

#header {
  height: 62px; 
  margin: 0.85em auto 0;
  padding: 0 1em;
  background: url(/web/20101031055501im_/http://www.google.com/corporate/css/images/header.png) no-repeat top right;
}

#main {
  padding-top: 2em;
}

#nav {
	margin: 0 0 3em 0;
}

#nav ul {
  padding: 0 .7em 0;
}

#nav li h2 {
  display: block;
  /* font-family: arial, sans-serif; */
  font-weight: normal;
  margin: -.4em 0 0;
  padding:.35em .5em;
  font-size: 1.1em;
  color: #777;
  background: #f0f0f0;
}

#nav li h2 a {
  color: #000;
  text-decoration: none;
}

#nav li {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: .3em .35em .3em 0;
}

#nav li ul {
  margin: 0 0 .3em 0;
}

.context {
  max-width: 460px;
}

#crumb {
  height: 1.8em;
  margin: 0.4em 0 1.1em;
  padding: 0 1em;
}

#crumb p {
  color: #777;
  margin: 0 auto;
  max-width: 960px;
  padding: 4px 0;
}

#flair {
  margin-left: 400px;
  position: absolute;
  top: 0;
}

#flair_rtl {
  margin-right: 400px;
  position: absolute;
  top: 9px;
}

.promo {
  background: #FFFFD9;
  border: 1px solid #D2D26A;
  float: right;
  margin: .5em;
  padding: .5em;
  width: 200px;
}

/* .feedback must follow .promo in order */

.feedback {
  width: 310px;
}

.scheme2 {
  border-top: 2px solid #393 !important;
}

#search {
  margin-left: 510px;
  position: absolute;
  text-align: right;
  top: 20px;
  width: 460px;
  font-size: 1.1em;
}

#search_rtl {
  margin-right: 560px;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 400px;
}

.search-input {
  border: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999; 
  padding: .2em;
  margin: 0 .2em 0;
  width: 20em;
}

.section {
  border-bottom: 1px solid #ddd;
}

.security {
  clear: none;
  float: left;
  width: 50%;
}

.toggle {
  clear: both;
}

.video {
  float: right;
  height: 257px;
  margin: .5em 0 .5em .5em;
  padding: .5em 0 .5em .5em;
  width: 330px;
}

/* for "Life of a Google Query" tech.html */

#docservers {
  left: 105px;
  height: 92px;
  position: absolute;
  top: 474px;
  width: 296px;
}

#indexservers {
  left: 340px;
  height: 109px;
  position: absolute;
  top: 352px;
  width: 152px;
}

#lifeofquery {
  height: 570px;
  margin: auto;
  margin-top: 2em;
  position: relative;
  width: 535px;
}

#lifeofquery ol li {
  margin: 0 0 0 2em;
  list-style-type: decimal;
}

#step1 {
  left: 197px;
  height: 108px;
  position: absolute;
  top: 230px;
  width: 320px;
}

#step2 {
  left: 105px;
  height: 95px;
  position: absolute;
  top: 367px;
  width: 200px;
}

#step3 {
  left: 0;
  height: 108px;
  position: absolute;
  top: 260px;
  width: 146px;
}

#topquery {
  left: 40px;
  height: 212px;
  position: absolute;
  top: 0;
  width: 400px;
}

#uparrow {
  left: 20px;
  height: 118px;
  position: absolute;
  top: 337px;
  width: 95px;
}

/* execs.html */

.execs {
  clear: both;
  margin: 0 0 2.5em 0;
}

#execs h3 {
  clear: both;
  margin: 2em 0 1em 0;
}

.execs img {
  float: left;
  padding: 0 0 2.5em;
}

.execs_profile {
	margin: 0 0 0 12em;
}

/* address.html */


div.address {
  margin-bottom: 12px;
  padding: 0 0.5em;
}

div.left h2,
div.right h2 {
  padding-left: 0.3em;
}

div.left h3,
div.right h3 {
  border-bottom: 1px solid #ddd;
  padding: 0.1em 0.5em;
  font-weight: bold;
  font-family: arial, sans-serif;
}

div.left {
  float: left;
  padding-right: 20px;
  width: 48%;
}

#map {
  border: 1px solid #000;
  height: 360px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.right {
  float: left;
  width: 48%; 
}
}
object {
  width: 330px;
  height: 227px;
}

object.video-lg {
  width: 361px;
  height: 292px;
}
embed.slideshow {
  width: 288px;
  height: 192px;
}

#board p {
  margin-left:2em;
}

label {
  display: none;
}
/*
     FILE ARCHIVED ON 05:55:01 Oct 31, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:14:46 Oct 18, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/