/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

* {
     line-height: 1.2rem;
}

html {
}

body {
    margin: 5mm;
    font-family: "AGBookStd-Regular.ttf";
}

/*LICENCE PARTS*/

h1 {
    margin-top: 0mm;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: initial !important;
}

h1 * {
    font-weight: bold;
}

h2 {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

h2 * {
    font-weight: bold;
}

h3 {
    margin-top: 1rem;
    font-size: 1rem;
}

p {
}

.extended {
    font-family: "AGBookStd-RegExt.ttf";
    line-height: 0 !important;
    display: inline-block;
}

a .extended {
    text-decoration: underline;
}

/* PRINT */

@page {
    size: A4;
    margin-left: 5mm;
    margin-top: 5mm;
    margin-right: 5mm;
    margin-bottom: 5mm;
}

@media print {
    * {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    html {
        font-size: 8pt;
    }
    body {
        padding: 0;
        margin: 0;
    }
    h1 * {
        font-weight: bold;
    }

    h2 * {
        font-weight: bold;
    }
    p {
        page-break-inside: avoid;
    }
}


/* FONT TEST */
#a{
    font-family: "AG Book Regular.woff2";
}
#b{
    font-family: "l (1).woff2";
}
#c{
    font-family: "l (2).woff2";
}
#d{
    font-family: "l (3).woff2";
}
#e{
    font-family: "l (4).woff2";
}
#f{
    font-family: "l (5).woff2";
}
#g{
    font-family: "l (6).woff2";
}
#h{
    font-family: "l (7).woff2";
}
#i{
    font-family: "l (8).woff2";
}
#j{
    font-family: "l (9).woff2";
}
#k{
    font-family: "l (10).woff2";
}
#l{
    font-family: "l (11).woff2";
}
#m{
    font-family: "l (12).woff2";
}
#n{
    font-family: "l (13).woff2";
}
#o{
    font-family: "l (14).woff2";
}
#p{
    font-family: "l (15).woff2";
}
#q{
    font-family: "l (16).woff2";
}
#r{
    font-family: "l (17).woff2";
}
#s{
    font-family: "l (18).woff2";
}
#t{
    font-family: "l (19).woff2";
}
w
