/* GLOBAL / RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */

body {
    padding: 10mm;
    display: flex;
    flex-wrap: wrap;
}

body > div {
    width: 210mm;
    height: 296mm;            /* < 210 avoid page-break jump  */
    border: 1px solid black;
    margin-bottom: 10mm;
    padding: 10mm;
}

body > div:nth-child(1) {
   /*margin-left: 148mm;*/
}

body > div:nth-child(odd) {
    /*background: blue;*/
    /*border-color: blue;*/
}

body > div:nth-child(even) {
    /*background: red;*/
    /*border-color: red;*/
}

/* PRINT */

@page {
    size: A4;
    margin-left: 0mm;
    margin-top: 0mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
}

@media print {
    body {
        display: block;
        padding: 0mm;
        margin: 0mm;
    }
    body > div {
        display: block;
        border: 0px solid black;
        margin: 0mm;
        page-break-after: always;
    }
    body > div:nth-child(1) {
        margin-left: 0;
    }
}

