* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
}

body {
    margin: 20px;
    overflow-x:hidden; 
}

/* video */

#subject{
    position: fixed;
    max-width: 50%;
    margin-bottom: 10px;
}

#video {
    position: fixed;
    width: 400px;
    height: 300px;
    bottom: 0px;
    right: 0px;
    resize: both;
    overflow: auto;
    z-index: 10;
    overflow: auto;
}

#video p {
    height: 20px;
}

#video iframe {
    width: 100%; 
    height: calc(100% - 20px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: none;
}


/* simple-messages-system */
#simple-messages-system{
    max-width: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* root */
#root {
    display: flex; 
    flex-direction: column-reverse;
    margin-top: 40px;
    transform-origin: left top;
}

.message {
    width: 800px;
    /*max-width: 800px;*/
    /*min-width: 600px;*/
    height: auto;
    font-family: sans-serif;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

    /*
    background-color: white;
    border: 1px solid #111111;
    box-shadow: 4px 6px #111111;
    box-shadow: -4px 6px #111111;
    */
    
    /*
    background-color: rgba(00,0,255,0.10);
    */
    
    /*
    background-color: rgba(0,255,0,0.10);
    */

    background-color: white;
    /*border: 1px solid #aaaaaa;*/

    

    /*
    box-shadow: 0px 0px 6px silver;
    background-color: rgba(0,0,0,0.05);
    box-shadow: -4px 6px 5px #dddddd;
    */

}

.message * {
    margin-bottom: 10px;
}

.message > .text {

}

.message > p > * {
    margin-right: 10px;
    margin-left: 10px;
}

.message > p > *:first-child {
    margin-left: 0px;
}

.message > button {
    margin-top: 20px;
    display: block;
}

/* post */ 

#post {
    width: 800px;
    padding: 0px;
}

.post {
    padding: 10px;
   /* margin-left: 20px;*/
    margin-bottom: 20px;
}

.post * {
    margin-bottom: 10px;
}

.post > textarea { 
    width: 100%;
    height: 140px;
}

.post > p > * {
    margin-right: 10px;

}

.post > button {
    display: block;
}

/* buttons */

#buttons {
    position: fixed;
    top: 20px;
    right: 20px;
}

#buttons div {
    margin-bottom: 20px;
}

#buttons div * {
    margin-bottom: 10px;
}

#buttons button {
    width: 40px;
    display: block;
}

/*#aesthetics */

/*##inputs*/

textarea, input, button{
   border: none;
   outline: none;
   padding: 0.33rem 0.75rem 0.33rem 0.75rem;
   background-color: rgb(245,245,245);
}

textarea:hover, input:hover, button:hover {
    background-color: rgb(235,235,235);
}

button:hover{
    cursor: pointer;
}

/*##messages*/

.message .meta{
    color: silver;
    margin: 0;
    left: 0;
    padding-left: 0.25rem;

}

.message{
    margin-bottom: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-left:solid;
    border-width:1px;
    border-color: rgb(215,215,215);
}

.message .text{
padding: 20px;
margin: 0;
}

.message .reply,.message .messages{
 margin:0;
}

