html, body {
    margin: 0px;
    padding: 0px;
}

video {
    width: 50%;
    position: fixed;
    left:0px;
    top: 0px;
    z-index: -10;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

#text {
    margin-top: 600px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.4;
    width: 50%;
    z-index: 20;
}

/*
#part_1 {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#part_1 video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#marquee {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-family: sans-serif;
    font-size: 26px;
    color: white;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    margin-bottom: 20px;
}

#part_2 {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#part_2 video {
    width: 100%;
    height: 100%;
}
*/
