<h1 id="questions">Questions</h1>
<hr>
<h2 id="quel-est-votre-nom-">Quel est votre nom ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quel-est-votre-pr-nom-">Quel est votre prénom ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quel-est-votre-age-">Quel est votre age ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quelle-est-votre-adresse-mail-">Quelle est votre adresse mail ?</h2>
<ul>
<li>[ ]</li>
</ul>
<hr>
<h2 id="quelle-est-votre-sexe-">Quelle est votre sexe ?</h2>
<ul>
<li>[ ] Homme</li>
<li>[ ] Femme</li>
<li>[ ] Autre</li>
</ul>
<hr>
<h2 id="choisissez-un-mot-de-passe-">Choisissez un mot de passe :</h2>
<ul>
<li>[ ] Face ID</li>
</ul>
<hr>
<h2 id="vous-tes-">Vous êtes ?</h2>
<ul>
<li>[ ] amateur</li>
<li>[ ] professionel</li>
<li>[ ] expert</li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="mais-encore-">Mais encore ?</h2>
<ul>
<li>[ ] un scientifique</li>
<li>[ ] un ouvrier de la connaissance</li>
<li>[ ] un programmeur</li>
<li>[ ] un vrai utilisateur</li>
<li>[ ] un utilisateur naïf</li>
<li>[ ] une dame avec une machine à écrire royale</li>
<li>[ ] un enfant</li>
<li>[ ] un artiste</li>
<li>[ ] un musicien</li>
<li>[ ] une divinité</li>
<li>[ ] un néophyte complètement paumé</li>
<li>[ ] un hacker</li>
<li>[ ] un nul</li>
<li>[ ] vous-même</li>
<li>[ ] un individu</li>
<li>[ ] un citoyen</li>
<li>[ ] un autre</li>
<li>[ ] un client</li>
<li>[ ] un interacteur</li>
<li>[ ] un acheteur</li>
<li>[ ] une cible</li>
</ul>
<p><a href="http://contemporary-home-computing.org/turing-complete-user/">Turing Complete User, Olia Lialina, October 2012, Appendix B: Users Imagined</a></p>
<hr>
<h2 id="comment-avez-vous-eu-connaissance-de-ce-m-moire-">Comment avez-vous eu connaissance de ce mémoire ?</h2>
<ul>
<li>[ ] publicité</li>
<li>[ ] magazine</li>
<li>[ ] ami</li>
<li>[ ] collègue</li>
<li>[ ] autre</li>
</ul>
<p><a href="???">Monthy&#39;s Python Holy Grail, le jeu vidéo, 1996</a></p>
<hr>
<h2 id="quelle-est-votre-couleur-pr-f-r-e-">Quelle est votre couleur préférée ?</h2>
<ul>
<li>[ ] Greenery</li>
<li>[ ] Rose Quartz</li>
<li>[ ] Serenity</li>
<li>[ ] Marsala</li>
<li>[ ] Radiand Orchid</li>
<li>[ ] Emerald</li>
<li>[ ] Tangerine Tango</li>
<li>[ ] Honeysucle</li>
<li>[ ] Turquoise</li>
</ul>
<p><a href="???">Monthy&#39;s Python Holy Grail, le jeu vidéo, 1996</a></p>
<hr>
<h2 id="qu-attendez-vous-de-ce-m-moire-">Qu&#39;attendez vous de ce mémoire ?</h2>
<ul>
<li>[ ] une lecture facile</li>
<li>[ ] une lecture rapide</li>
<li>[ ] un contenu accessible</li>
<li>[ ] un sentiment de sécurité</li>
<li>[ ] un sentiment d&#39;élégance</li>
<li>[ ] une problématique simple</li>
<li>[ ] une problématique innovante</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="vous-poss-dez-un-">Vous possédez un :</h2>
<ul>
<li>[ ] Mac</li>
<li>[ ] Windows</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="votre-interface-est-">Votre interface est :</h2>
<ul>
<li>[ ] graphique</li>
<li>[ ] en lignes de commandes</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="vous-tes-">Vous êtes :</h2>
<ul>
<li>[ ] Catholique</li>
<li>[ ] Protestant</li>
</ul>
<p><a href="???">Umberto Eco, comment reconnaître la religion d&#39;un ordinateur</a></p>
<hr>
<h2 id="c-est-quoi-un-ordinateur-">C&#39;est quoi un ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<hr>
<h2 id="pourquoi-l-ordinateur-personnel-est-il-si-complexe-">Pourquoi l&#39;ordinateur personnel est-il si complexe ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, the invisible computer</a></p>
<hr>
<h2 id="quand-votre-ordinateur-ne-fonctionne-pas-comme-vous-le-voulez-d-o-viens-le-probl-me-">Quand votre ordinateur ne fonctionne pas comme vous le voulez d&#39;où viens le problème ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="pourquoi-ne-peut-on-pas-mettre-des-notes-marginales-sur-un-fichier-microsoft-word-un-pdf-ou-sur-une-page-web-">Pourquoi ne peut-on pas mettre des notes marginales sur un fichier Microsoft Word, un Pdf ou sur une page web ?</h2>
<ul>
<li>[ ] car les ordinateurs ne le permettent pas</li>
<li>[ ] car Chuck Simoni, John Warnock et Tim Berne-Lee ont considéré que cela n&#39;était pas nécessaire</li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="pourquoi-avons-nous-des-bureaux-d-ordinateur-et-pas-des-ateliers-d-ordinateur-">Pourquoi avons-nous des bureaux d&#39;ordinateur et pas des ateliers d&#39;ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="comment-disposez-vous-les-cones-sur-le-bureau-de-votre-ordinateur-">Comment disposez-vous les îcones sur le bureau de votre ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="pourquoi-le-texte-l-cran-est-il-g-n-ralement-en-noir-sur-fond-blanc-">Pourquoi le texte à l&#39;écran est-il généralement en noir sur fond blanc ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Paper as metaphor</a></p>
<hr>
<h2 id="pourquoi-dix-huit-si-cles-de-culture-de-l-imprim-ont-t-r-duit-une-simulation-de-feuille-de-papier-">Pourquoi dix-huit siècles de culture de l&#39;imprimé ont été réduit à une simulation de feuille de papier ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Ted Nelson, computer for cynics</a></p>
<hr>
<h2 id="un-ordinateur-est-il-un-cran-">Un ordinateur est-il un écran ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
<li>[ ] peut-être</li>
</ul>
<p><a href="???">Apple</a></p>
<hr>
<h2 id="un-ordinateur-est-il-une-surface-">Un ordinateur est-il une surface ?</h2>
<ul>
<li>[ ] oui</li>
<li>[ ] non</li>
<li>[ ] peut-être</li>
</ul>
<p><a href="???">Paper as metaphor</a></p>
<hr>
<h2 id="surfez-vous-sur-le-net-">Surfez-vous sur le net ?</h2>
<ul>
<li>[ ] Oui</li>
<li>[ ] Non</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="saviez-vous-que-le-surf-sur-le-net-est-mort-en-1996-">Saviez-vous que le surf sur le net est mort en 1996 ?</h2>
<ul>
<li>[ ] Oui</li>
<li>[ ] Non</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="l-ordinateur-est-">L&#39;ordinateur est :</h2>
<ul>
<li>[ ] une aventure civile</li>
<li>[ ] une aventure commerciale</li>
<li>[ ] la première et le deuxième question signifient la même chose</li>
</ul>
<p><a href="???">Jakob Nielsen, alertbox 1996</a></p>
<hr>
<h2 id="un-bon-design-est-">Un bon design est :</h2>
<ul>
<li>[ ] pratique</li>
<li>[ ] élégant</li>
<li>[ ] intelligent</li>
<li>[ ] naturel</li>
<li>[ ] facile d&#39;utilisation</li>
<li>[ ] accesible</li>
<li>[ ] innovant</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="un-bon-design-">Un bon design :</h2>
<ul>
<li>[ ] répond à un besoin</li>
<li>[ ] définit un besoin<br>ne se contente pas de répondre à un besoin, il le définit<br>&lt;!-- - [ ] répond à une attente</li>
<li>[ ] définit un attente</li>
<li>[ ] ne se contente pas de répondre à une attente, il la définit--&gt;</li>
</ul>
<p><a href="???">Matt McCullough, Steve Jobs and the Goal of Preaching, 08.28.2014</a></p>
<hr>
<h2 id="pourquoi-m-me-un-bon-design-peut-il-chouer-">Pourquoi même un bon design peut-il échouer ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, the invisible computer</a></p>
<hr>
<h2 id="un-bon-design-doit-il-avoir-raison-">Un bon design doit-il avoir raison ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="un-bon-design-doit-il-servir-">Un bon design doit-il servir ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Don Norman, Design of everyday things</a></p>
<hr>
<h2 id="cochez-">Cochez.</h2>
<ul>
<li>[ ] Sécurité</li>
<li>[ ] Facilité</li>
<li>[ ] Rapidité</li>
<li>[ ] Accessibilité</li>
<li>[ ] Élégance</li>
<li>[ ] Simplicité</li>
<li>[ ] Innovation</li>
</ul>
<p><a href="???">user experience principles</a></p>
<hr>
<h2 id="choisissez-la-bonne-position-pour-chaque-forme-dans-chaque-situation-">Choisissez la bonne position pour chaque forme dans chaque situation.</h2>
<p> O /\ []</p>
<blockquote>
<p>Every shape exists only because of the space around it. … Hence there is a ‘right’ position for every shape in every situation. If we succeed in finding that position, we have done our job.</p>
</blockquote>
<p><a href="???">Donald Knuth TEXbook, JAN TSCHICHOLD, Typographische Gestaltung (1935)</a></p>
<hr>
<h2 id="caract-risez-l-usage-de-l-ornement-">Caractérisez l&#39;usage de l&#39;ornement :</h2>
<ul>
<li>[ ] Enfantin</li>
<li>[ ] Refus de la pureté du design</li>
<li>[ ] Instinct primitif</li>
<li>[ ] Peur de la beauté réelle</li>
<li>[ ] Maquillage pour un mauvais design</li>
<li>[ ] Bon pour les Indiens</li>
<li>[ ] Basse culture</li>
</ul>
<p><a href="???">Adolf Loos, JAN TSCHICHOLD, Typographische Gestaltung (1935)</a></p>
<hr>
<h2 id="parmi-les-termes-suivants-lequel-est-il-le-plus-correct-pour-d-signer-un-contenu-pertinent-">Parmi les termes suivants lequel est-il le plus correct pour désigner un contenu pertinent ?</h2>
<ul>
<li>[ ] Populaire</li>
<li>[ ] Démocratique</li>
<li>[ ] Recommandé</li>
<li>[ ] Accessible</li>
<li>[ ] Authentique</li>
<li>[ ] Unique</li>
<li>[ ] Classique</li>
</ul>
<p><a href="???">Google PageRank System</a></p>
<hr>
<h2 id="qui-est-le-ma-tre-de-la-simplicit-">Qui est le maître de la simplicité ?</h2>
<ul>
<li>[ ] John Maeda</li>
</ul>
<p><a href="???">Rules of simplicity, John Maeda</a></p>
<hr>
<h2 id="parmi-les-termes-suivants-choisissez-le-miracle-">Parmi les termes suivants, choisissez le miracle :</h2>
<ul>
<li>[ ] Apple</li>
<li>[ ] Xerox</li>
<li>[ ] Google</li>
<li>[ ] Microsoft</li>
</ul>
<p><a href="???">Xerox, It&#39;s a miracle</a></p>
<hr>
<h2 id="quelle-est-la-diff-rence-entre-innovant-et-novateur-">Quelle est la différence entre innovant et novateur ?</h2>
<ul>
<li>[ ]</li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="cherchez-l-intrus-">Cherchez l’intrus :</h2>
<ul>
<li>[ ] Informatique</li>
<li>[ ] Digital</li>
<li>[ ] Numérique</li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="un-outil-peut-il-tre-con-u-pour-tre-d-tourn-">Un outil peut-il être conçu pour être détourné ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Guy Debord et Wolman - Mode d&#39;emploi du Détournement</a></p>
<hr>
<h2 id="votre-ordinateur-vous-simplifie-t-il-la-vie-">Votre ordinateur vous simplifie t-il la vie ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">No one&#39;s life has yet been simplified by a computer. Nelson, Computer Lib, 1974</a></p>
<hr>
<h2 id="-quoi-set-cet-ic-ne">à quoi set cet icône</h2>
<ul>
<li>[ ]  zoomer</li>
<li>[ ]  rechercher</li>
</ul>
<p>ou text ?</p>
<p><a href="???">Fuller, Metaphor in The impossibility of the interface in Behind the Blip, ?</a></p>
<hr>
<h2 id="qu-est-ce-qui-est-important-lorsque-que-l-on-doit-choisir">Qu&#39;est ce qui est important lorsque que l&#39;on doit choisir</h2>
<ul>
<li>de bonnes possibilités</li>
<li>de bon choix</li>
<li>choose none of the above</li>
</ul>
<p><a href="http://userrights.contemporary-home-computing.org/">Lialina, User Rights</a></p>
<hr>
<h2 id="quel-est-votre-typo-pr-f-r-e-">Quel est votre typo préférée ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="quelle-sont-les-diff-rence-entre-un-presse-papier-papier-num-rique">Quelle sont les différence entre un presse papier papier numérique</h2>
<ul>
<li>[ ] you can&#39;t see it, </li>
<li>[ ] it holds only one object,</li>
<li>[ ] whatever you put there destroys the previous contents.  Aside from that, IT&#39;S JUST LIKE A REGULAR CLIPBOARD IN EVERY OTHER RESPECT-- EXCEPT THERE AREN&#39;T ANY OTHER RESPECTS!</li>
</ul>
<blockquote>
<p>It&#39;s just like a regular clipboard, except<br>(a) you can&#39;t see it,<br>(b) it holds only one object,<br>(c) whatever you put there destroys the previous contents.  Aside from that, IT&#39;S JUST LIKE A REGULAR CLIPBOARD IN EVERY OTHER RESPECT-- EXCEPT THERE AREN&#39;T ANY OTHER RESPECTS!</p>
</blockquote>
<p><a href="???">Nelson, one liners</a></p>
<hr>
<h2 id="trouvez-vous-la-commande-ctrl-z-intuitive-">Trouvez-vous la commande CTRL-Z intuitive ?</h2>
<blockquote>
<p>Oh, SURE the Macintosh interface is Intuitive! I&#39;ve always thought deep in my heart that command-z should undo things. &quot;</p>
</blockquote>
<p><a href="???">Margy Levine</a></p>
<hr>
<h2 id="qu-est-ce-qui-ne-va-pas-avec-l-ordinateur">Qu&#39;est ce qui ne va pas avec l&#39;ordinateur</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">What&#39;s wrong with the computer ? Norman, The Invisible Computer</a></p>
<hr>
<h2 id="l-ordinateur-fait-il-">L&#39;ordinateur fait-il ?</h2>
<p>Préférez vous que votre ordinateur fasse ?</p>
<ul>
<li>[ ] une seule chose mais bien</li>
<li>[ ] plusieurs choses mais mal</li>
</ul>
<p><a href="???">Information Appliance</a></p>
<hr>
<h2 id="pour-quoi-est-fait-l-ordinateur">pour quoi est fait l&#39;ordinateur</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Information Appliance</a></p>
<hr>
<h2 id="qu-est-ce-vous-trouvez-simple">Qu&#39;est ce vous trouvez simple</h2>
<p>Qu&#39;est ce vous trouvez compliqué</p>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="votre-ordinateur-est-il-honn-te-avec-vous-">Votre ordinateur est-il honnête avec vous ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="-tes-vous-honn-te-avec-votre-ordinateur-">êtes vous honnête avec votre ordinateur ?</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="votre-ordinauter-vous-a-til-d-j-fait-du-mal">votre ordinauter vous a  til déjà fait du mal</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">???</a></p>
<hr>
<h2 id="ne-me-poussez-pas-r-fl-chir-">Ne me poussez pas à réfléchir…</h2>
<ul>
<li>[ ] </li>
</ul>
<p><a href="???">Steve Krug, don&#39;t make me think</a></p>
