* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    font-family: sans-serif;
}

body > div {
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    display: none;
}

body > div > p:first-child {
    font-size: 2rem;
}

body > div > p {
    margin-bottom: 20px;
}

#start {
    display: block;

}

#end {
    display: none;
}
