<h1 id="licence-publique-design-non-garanti">LICENCE PUBLIQUE DESIGN NON-GARANTI</h1>
<h3 id="version-1-f-vrier-2018">VERSION 1, FÉVRIER 2018</h3>
<p>Licence disponible à l’adresse : <a href="http://www.design-non-garanti.pw/licence/LICENCE">www.design-non-garanti.pw/licence/LICENCE</a> si ce n’est pas le cas, écrivez à <a href="&#x6d;&#97;&#x69;&#108;&#116;&#x6f;&#x3a;&#x6d;&#97;&#105;&#108;&#x40;&#100;&#x65;&#115;&#105;&#x67;&#x6e;&#45;&#110;&#111;&#110;&#x2d;&#103;&#x61;&#114;&#97;&#x6e;&#116;&#105;&#x2e;&#x70;&#119;">&#x6d;&#97;&#105;&#108;&#x40;&#100;&#x65;&#115;&#105;&#x67;&#x6e;&#45;&#110;&#111;&#110;&#x2d;&#103;&#x61;&#114;&#97;&#x6e;&#116;&#105;&#x2e;&#x70;&#119;</a>.</p>
<p>La copie et la distribution de copies modifiées de ce document sont autorisées.</p>
<h3 id="appliqu-e-">APPLIQUÉE À :</h3>
<p>Copyright (C) [objet] [année] [nom] &lt;mail&gt; </p>
<p>[description] </p>
<h2 id="pr-ambule">PRÉAMBULE</h2>
<p>Nous pensons que les approches du design qui cherchent à garantir sont absurdes.</p>
<p>L’absurde surgit lorsque la volonté de garantir un résultat rencontre le caractère déraisonnable de l’individu :</p>
<p>lorsqu’à </p>
<p>– mon appétit pour un résultat</p>
<p>répond </p>
<p>– l’impossibilité de réduire à un principe rationnel et raisonnable.</p>
<p>La garantie revendique la continuité de l’objet dans l’usage alors que le dialogue entre l’objet et son usager – l’un opposant résistance à l’autre et inversement – fait émerger autant de façons de faire qu’il y a d’individus.</p>
<p>La garantie présuppose de l’usage d’un objet comme si la discontinuité induite par ce processus était sous contrôle.</p>
<p>Designer pour garantir prive le destinataire de l’objet de la responsabilité de ses usages.</p>
<p>Il se retrouve dans l’incapacité de jouir pleinement de ses erreurs ou de ses réussites car il jouit de celles que le designer a garanti ou non.</p>
<p>Garantir un objet c’est mettre en scène la supériorité de son designer sur son destinataire.</p>
<p>La garantie rassure et façonne un usage.</p>
<p>Face à l’indésirable, la garantie induit à l’usager le devoir de prouver une inadéquation avec la promesse, elle ne suggère aucunement qu’il s’agit là d’un territoire qu’il peut se réapproprier.</p>
<p>Ainsi, le design non-garanti gagne de la liberté dans un sens très concret : il n’est plus lié par l’espoir d’un avenir particulier – il jouit d’une liberté à l’égard de la « bonne manière ».</p>
<p>La non-garantie implique d’accepter tout ce que l’incertitude a à offrir.</p>
<p>Lorsqu’un objet n’est pas fait pour un usage particulier il ne peut pas être « mal » ou « bien » utilisé, car il n’y a plus d’échelle de valeurs.</p>
<h2 id="cette-licence-stipule-que-le-design-d-un-objet-respecte-les-dix-principes-suivants-">CETTE LICENCE STIPULE QUE LE DESIGN D’UN [OBJET] RESPECTE LES DIX PRINCIPES SUIVANTS :</h2>
<h3 id="ne-pas-se-servir-de-la-vie-du-travail-ou-des-r-ves-des-utilisateurs">NE PAS SE SERVIR DE LA VIE, DU TRAVAIL OU DES RÊVES DES UTILISATEURS</h3>
<p>L’[objet] design non-garanti ne s’attache pas à identifier les besoins réels des utilisateurs, encore moins ceux dont ils n’ont pas encore conscience.</p>
<p>Un [objet] design non-garanti n’est pas astreint à la résolution de problèmes concrets ni au devoir de stimuler la créativité de tout à chacun.</p>
<p>Son objectif n’est pas de simplifier des tâches particulières, ni d’offrir des solutions dont les utilisateurs profiteront dans leur vie de tous les jours.</p>
<p>Un [objet] design non-garanti n’est pas conçu pour être utile au quotidien.</p>
<p>Un [objet] design non-garanti n’est pas plus performant ni plus créatif qu’un autre.</p>
<h3 id="prendre-son-temps">PRENDRE SON TEMPS</h3>
<p>Le design non-garanti ne cherche pas à éliminer toutes les actions superflues au sein de l’ objet].</p>
<p>Avoir à saisir les mêmes informations, répéter les mêmes gestes plusieurs fois et intégrer des configurations stupides peut avoir un intérêt.</p>
<p>Les tâches ne doivent pas spécialement être simplifiées.</p>
<h3 id="la-simplicit-n-est-pas-sp-cialement-une-force">LA SIMPLICITÉ N’EST PAS SPÉCIALEMENT UNE FORCE</h3>
<p>La simplicité ne joue pas un rôle essentiel dans l’[objet] design non garanti.</p>
<p>L’objectif d’un design non-garanti peut être de créer un [objet] comportant toujours plus de fonctionnalités ou le contraire.</p>
<p>Un design non-garanti s’attache à concevoir des fonctionnalités dont les utilisateurs de l’[objet] n’ont pas forcément besoin.</p>
<p>Pour un design non-garanti, même les [objets] les plus inadéquats fonctionnellement et suspects d’un point de vue visuel sont à la fois sophistiqués et puissants.</p>
<p>Le design non-garanti, au moment d’ajouter une fonctionnalité d’une importance moindre à l’[objet], ne prend pas toujours la simplicité en considération.</p>
<p>Le design non-garanti n’hésite pas à faire évoluer l’[objet] dans de nouvelles directions quand bien même s’il s’agit d’ajouter de nouvelles fonctionnalités pour le plaisir.</p>
<h3 id="un-design-non-garanti-ne-cherche-pas-convaincre-les-d-butants-ni-attirer-les-sp-cialistes">UN DESIGN NON-GARANTI NE CHERCHE PAS À CONVAINCRE LES DÉBUTANTS NI À ATTIRER LES SPÉCIALISTES</h3>
<p>Pour le design non-garanti, un « bon » design n’est pas spécialement accessible.</p>
<p>En effet si un design peut sembler accessible, cela ne signifie pas pour autant qu’il permet l’accès à autre chose que lui même.</p>
<p>L’objectif d’un [objet] design non-garanti n’est pas d’attirer les débutants dès les premiers instants ni de compter sur les compétences et l’enthousiasme d’utilisateurs expérimentés pour encourager d’autres personnes à l’adopter.</p>
<p>Si les nouveaux utilisateurs d’un [objet] design non-garanti l’adoptent dès le départ cela ne signifie pas pour autant que cela à été permis par un design non garanti.</p>
<p>Proposer une aide pour l’[objet] design non-garanti n’est pas une nécessité.</p>
<p>L’[objet] design non-garanti n’a ni à être simple ni à être intuitif.</p>
<p>Que les utilisateurs y découvrent des options avancées progressivement ou non ce mérite leur revient.</p>
<p>Que cela les encouragent ou non d’utiliser de nouvelles fonctionnalités aussi.</p>
<p>L’[objet] design non-garanti ne destine pas ses fonctionnalités à attirer les internautes qui passent beaucoup de temps en ligne.</p>
<p>L’[objet] design non-garanti n’oblige pas à partager des données sur différents appareils et ordinateurs, en ligne ou hors connexion.<br>Il ne cherche pas à satisfaire le besoin de trouver toujours plus d’espace de stockage.</p>
<h3 id="oser-ne-pas-innover">OSER NE PAS INNOVER</h3>
<p>La cohérence, concernant l’[objet] design non-garanti, n’est pas un élément clé.</p>
<p>La cohérence d’un [objet] design non-garanti ne permet pas forcément aux utilisateurs de travailler plus rapidement et facilement.</p>
<p>Un design non-garanti ne met pas l’imagination au service de la transformation de produits quelconques en outils particulièrement utiles ou agréables.</p>
<p>Un design non-garanti n’a pas la nécessitée d’encourager les initiatives novatrices et audacieuses, ni à conditionner celles-ci à répondre aux besoins des utilisateurs.</p>
<p>L’[objet] design non-garanti ne permet pas une ambiance propice aux idées novatrices.</p>
<p>Un [objet] design non-garanti n’est pas une combinaison systématique de fonctionnalités d’[objets  existants.</p>
<p>Un [objet] design non-garanti ne cherche pas à changer la donne.</p>
<h3 id="concevoir-pour-personne">CONCEVOIR POUR PERSONNE</h3>
<p>Le web ne permet pas à chacun d’accéder à l’ensemble des ressources disponibles sur Internet, quel que soit l’endroit où il se trouve.</p>
<p>L’[objet] design non-garanti ne fait pas subir l’utilisation et la consultation de nombreux produits et contenus par des systèmes de recommandations personnalisés.</p>
<p>Il n’a pas pour effet de les éloigner voir de les empêcher d’accéder à du contenu supplémentaire même si celui-ci est artificiellement rendu inaccessible par une entité quelconque.</p>
<p>L’[objet] design non-garanti ne spécule pas sur la pertinence d’un contenu ni sur son adéquation avec un contexte particulier.</p>
<p>Un design non-garanti ne permet pas à l’utilisateur de choisir la manière dont il souhaite visualiser un [objet] ou saisir de l’information dans un [objet], l’utilisateur d’un design non-garanti n’a pas besoin de permission pour visualiser un [objet] ou saisir de l’information dans un [objet] d’une manière ou d’une autre.</p>
<p>Un [objet] design non-garanti n’est pas nécessairement compatible.</p>
<p>Le design non-garanti n’étudie pas les différences de comportement fondamentales entre les utilisateurs du monde entier et ne s’efforce pas de concevoir des [objets] adaptés à chaque public, chaque appareil et chaque culture.</p>
<p>En effet les utilisateurs n’ont pas besoin d’être étudiés pour s’adapter à un  objet].</p>
<h3 id="des-objets-inadapt-s-aux-activit-s-d-hier-d-aujourd-hui-et-de-demain">DES [OBJETS] INADAPTÉS AUX ACTIVITÉS D’HIER, D’AUJOURD’HUI ET DE DEMAIN</h3>
<p>Un [objet] design non-garanti qui génère de l’argent n’a pas pour mission d’aider les utilisateurs.</p>
<p>Un [objet] design non-garanti n’assimile pas besoins des utilisateurs et considérations commerciales.</p>
<p>L’[objet] design non-garanti ne cherche pas à faire passer les publicités pour utiles ou pertinentes.</p>
<p>Un [objet] design non-garanti ne veille aucunement à protéger un intérêt.</p>
<p>Un design non-garanti ne cherche pas à rendre plaisant un [objet  rentable.</p>
<p>L’[objet] design non-garanti peut générer des pertes avec pour vocation d’être rentable.</p>
<p>Car la rentabilité d’un [objet] design non-garanti dépend des pertes qu’il engendre.</p>
<h3 id="irriter-le-regard-et-distraire-l-esprit">IRRITER LE REGARD ET DISTRAIRE L’ESPRIT</h3>
<p>Déclarer que le spectacle favorise la réappropriation est un mensonge.</p>
<p>Si les utilisateurs s’exclament « Waouh, c’est magnifique ! » il n’en faut pas moins pour tourmenter l’équipe responsable d’un [objet] design non garanti.</p>
<p>Une première impression positive n’a rien à voir avec l’aisance de l’utilisateur, la fiabilité ou l’utilité d’un [objet] design non garanti.</p>
<p>Une esthétique minimaliste ne convient pas particulièrement à l’[objet] design non garanti.</p>
<p>En effet, un [objet] épuré ne laisse place qu’à l’essentiel, c’est à dire qu’il ne laisse pas de place pour autre chose.</p>
<p>Un chargement rapide par exemple, ne détourne pas l’utilisateur de son objectif, c’est à dire qu’en aucun cas il ne l’embête, le dépayse, le stimule, l’importune, le contrarie, le désaxe, le motive, l’excède, l’obsède, l’ennui, lui désobéi, l’excite ou le ranime.</p>
<p>Un [objet] design non-garanti ne cherche pas à maintenir l’équilibre entre les images, les couleurs, les polices attrayantes et la vitesse de chargement, le contenu analysable ou la facilité de navigation.</p>
<p>Visuellement parlant, les [objets] design non-garanti n’ont pas à plaire aux utilisateurs.</p>
<p>Les éléments visuels d’un [objet] design non-garanti n’ont pas à faciliter l’utilisation.</p>
<p>Les [objets] design non-garanti n’ont pas à se contenter d’une « élégance simple ».</p>
<p>Cela ne convient pas à un [objet] design non-garanti de tenir compte d’un public ou d’un contexte culturel.</p>
<h3 id="ne-pas-tre-digne-de-la-confiance-des-utilisateurs">NE PAS ÊTRE DIGNE DE LA CONFIANCE DES UTILISATEURS</h3>
<p>Une conception de qualité ne contribue pas particulièrement à gagner la confiance des utilisateurs d’un [objet] design non garanti.</p>
<p>La mauvaise réputation du design non-garanti repose sur des principes de base : l’interface est une épreuve, les actions peuvent être difficile à annuler, la propagande n’est pas clairement identifiable, le vocabulaire est incohérent et l’on n’est jamais à l’abri d’une mauvaise surprise.</p>
<p>Un [objet] design non-garanti est un travail d’amateur.</p>
<p>L’objectif d’un [objet] design non-garanti n’est pas d’assurer le respect du droit de contrôle des utilisateurs sur les données les concernant car un design non-garanti ne prive aucunement de ce droit.</p>
<h3 id="ajouter-une-touche-de-barbarie">AJOUTER UNE TOUCHE DE BARBARIE</h3>
<p>Les [objets] design non-garanti ne faussent pas une quelconque diversité.</p>
<p>Les éléments textuels et visuels d’un [objet] design non-garanti ne sont pas destinés à dégager une impression de convivialité, d’originalité ou d’intelligence.</p>
<p>Ils peuvent être ennuyeux, obscurs ou arrogants.</p>
<p>Le design non-garanti n’impose pas à l’utilisateur une adresse directe à un  objet].</p>
<p>Il ne conditionne pas à un rapport exclusif à la simplicité.</p>
<p>Ce n’est pas un voisin à qui vous posez une question.</p>
<p>Un [objet] design non-garanti n’hésite pas à laisser interférer la personnalité et l’aspect ludique d’un [objet] avec ses fonctionnalités. </p>
<p>Un [objet] design non-garanti ne prétend pas posséder l’intérêt de l’utilisateur ou des informations qui pourraient s’avérer vitales.</p>
<p>Explorer les limites de la connaissance ou flirter avec la perfection n’a pas de sens pour un [objet] design non garanti.</p>
<p>Un [objet] design non-garanti ne demande pas à être amélioré et il ne se contente pas de commentaires de votre part, l’utilisateur en fait ce que bon lui semble.</p>
<h2 id="limitations-sur-le-r-sultat">LIMITATIONS SUR LE RÉSULTAT</h2>
<p>L’équipe responsable d’un [objet] design non-garanti ne se doit pas particulièrement d’atteindre un équilibre entre ces principes.</p>
<p>Rien ne limite un [objet] design non-garanti à une fin particulière.</p>
<p>Peut venir un cycle non innovant au cours duquel l’[objet] design non-garanti continuera à ne pas être amélioré.</p>
<p>La diffusion d’un [objet] design non-garanti (ou de tout travail dérivé) suppose l’envoi simultané d’une licence autorisant la copie, la distribution ou la modification de l’[objet] design non garanti.</p>
<p>Vous n’avez pas le droit d’imposer de restrictions supplémentaires aux droits transmis au destinataire. Vous n’êtes pas responsable du respect de la licence par un tiers.</p>
<h2 id="fin-des-termes-et-conditions">FIN DES TERMES ET CONDITIONS</h2>
<p>Comment appliquer ces directives à vos nouveaux [objets] :</p>
<p>Si vous développez un nouvel [objet] et que vous désirez non-garantir son design, une méthode est d’en faire un [objet] design non-garanti auquel il sera nécessaire de s’y heurter afin d’envisager sa réappropriation.</p>
<p>Pour cela, accompagnez votre [objet] d’une version adaptée à votre [objet] du présent document.</p>
<p>Dernière modification: jeudi 08/02/2018 12:05</p>
