body {
    overflow: hidden;
}

#text {
    max-width: 800px;
    /*margin-left:auto;*/
    margin-left: 4vw;
    margin-top: 100vh;
    margin-right: 4vw;
    margin-bottom: 100vh;
    font-family: 'Computer Modern Sans',sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
}

#text > * {
    margin-bottom: 40px;
}

p {
    margin-top: 0px;

}

.figure {
    margin-left: 5%;
    width: 70%;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.caption {
    font-size: 1rem;
}
