@font-face {
    font-family: "AkzidenzGrotesk-Bold.otf";
    src: url("AkzidenzGrotesk-Bold.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldCond.otf";
    src: url("AkzidenzGrotesk-BoldCond.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldCondAlt.otf";
    src: url("AkzidenzGrotesk-BoldCondAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldCondItalic.otf";
    src: url("AkzidenzGrotesk-BoldCondItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldExtended.otf";
    src: url("AkzidenzGrotesk-BoldExtended.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldExtendedItalic.otf";
    src: url("AkzidenzGrotesk-BoldExtendedItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-BoldItalic.otf";
    src: url("AkzidenzGrotesk-BoldItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Cond.otf";
    src: url("AkzidenzGrotesk-Cond.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-CondItalic.otf";
    src: url("AkzidenzGrotesk-CondItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Extended.otf";
    src: url("AkzidenzGrotesk-Extended.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtendedItalic.otf";
    src: url("AkzidenzGrotesk-ExtendedItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBold.otf";
    src: url("AkzidenzGrotesk-ExtraBold.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldAlt.otf";
    src: url("AkzidenzGrotesk-ExtraBoldAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldCond.otf";
    src: url("AkzidenzGrotesk-ExtraBoldCond.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldCondAlt.otf";
    src: url("AkzidenzGrotesk-ExtraBoldCondAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldCondItalic.otf";
    src: url("AkzidenzGrotesk-ExtraBoldCondItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldCondItalicAlt.otf";
    src: url("AkzidenzGrotesk-ExtraBoldCondItalicAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-ExtraBoldItalic.otf";
    src: url("AkzidenzGrotesk-ExtraBoldItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Italic.otf";
    src: url("AkzidenzGrotesk-Italic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Light.otf";
    src: url("AkzidenzGrotesk-Light.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightCond.otf";
    src: url("AkzidenzGrotesk-LightCond.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightCondItalic.otf";
    src: url("AkzidenzGrotesk-LightCondItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightExtended.otf";
    src: url("AkzidenzGrotesk-LightExtended.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightExtendedItalic.otf";
    src: url("AkzidenzGrotesk-LightExtendedItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightItalic.otf";
    src: url("AkzidenzGrotesk-LightItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightItalicOsF.otf";
    src: url("AkzidenzGrotesk-LightItalicOsF.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightOsF.otf";
    src: url("AkzidenzGrotesk-LightOsF.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-LightSC.otf";
    src: url("AkzidenzGrotesk-LightSC.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Medium.otf";
    src: url("AkzidenzGrotesk-Medium.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumCond.otf";
    src: url("AkzidenzGrotesk-MediumCond.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumCondAlt.otf";
    src: url("AkzidenzGrotesk-MediumCondAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumCondItalic.otf";
    src: url("AkzidenzGrotesk-MediumCondItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumCondItalicAlt.otf";
    src: url("AkzidenzGrotesk-MediumCondItalicAlt.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumExtended.otf";
    src: url("AkzidenzGrotesk-MediumExtended.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumExtendedItalic.otf";
    src: url("AkzidenzGrotesk-MediumExtendedItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-MediumItalic.otf";
    src: url("AkzidenzGrotesk-MediumItalic.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Regular.otf";
    src: url("AkzidenzGrotesk-Regular.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Super.otf";
    src: url("AkzidenzGrotesk-Super.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-SuperItalic.otf";
    src: url("AkzidenzGrotesk-SuperItalic.otf");
}
