/*
@font-face {
    font-family: "AG Book Light Extended.woff2";
    src: url("AG Book Light Extended.woff2");
}
@font-face {
    font-family: "AG Book Light.woff2";
    src: url("AG Book Light.woff2");
}

@font-face {
    font-family: "AG Book Regular Extended.woff2";
    src: url("AG Book Regular Extended.woff2");
}
@font-face {
    font-family: "AG Book Regular.woff2";
    src: url("AG Book Regular.woff2");
}
*/

@font-face {
    font-family: "AG Book Regular Extended.otf";
    src: url("AG Book Regular Extended.otf");
}
@font-face {
    font-family: "AG Book Regular.otf";
    src: url("AG Book Regular.otf");
}
