BODY {
  background-color: white;
  color: black;
  margin-right: 10%;
  margin-left: 10%;
}
H2 { 
  color: #484848; 
  font-family: geneva,arial,tahoma,helvetica,sans-serif; 
  font-size: 90%; 
  margin-top: 12px;
  margin-left: -2%;
}
H3 { 
  color: #484848; 
  font-family: geneva,arial,tahoma,helvetica,sans-serif; 
  font-size: 80%; 
  margin-left: -1%;
}
H4 { 
  color: #484848; 
  font-family: geneva,arial,impact,tahoma,helvetica,sans-serif; 
  font-size: 70%; 
}

/*
     FILE ARCHIVED ON 07:22:10 Feb 29, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:49:14 Feb 01, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/