/* Common Google Styles */

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, caption, tbody, tfoot, thead, tr, th {
  margin:0;
  padding:0; 
}

body {
  font-family:Arial, sans-serif;
  font-size:83%;
  background:#fff;
  color:#000;
  margin:12px 10px 10px 10px;
}

p { margin:1em 0; }
img { border:none; }

h1 {
  font-size:1.3em;
  border-bottom:1px solid #999;
  padding:0.2em 0;
  margin:0.7em 0em 0em 0.5em;
  color: #666;
}

h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }
h5 { font-size: 83%; }

a:link { color: #0000ff; }
a:visited { color: #551a8b; }
a:active { color: #ff0000; }

td#left-col { width:140px; }
td#left-col .size { padding: 0px 4px; }

td#left-col-divider {
  background: url('https://web.archive.org/web/20080314204241im_/http://www.google.com/images/dot2.gif') repeat-y 5px 0px;
  padding:0px 8px;
}

td#content {
  width:auto;
}

hr {
  height:1px;
  background-color:#fff;
  border:none;
  border-bottom:1px solid #ccc;
}

/*
     FILE ARCHIVED ON 20:42:41 Mar 14, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:51:48 Oct 28, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/