* {
    /*margin: 0;
    padding: 0;*/
}

body {
    /*font-family: sans-serif;*/
}

/*navigation*/
#navigation {
    margin-bottom: 40px;
}



/*item*/
#items {

}
.item > h1{
    margin:-1rem -1rem 1rem -1rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: sans-serif;
    background-color: beige;
}
.item > h1 > hr{
    margin: 0;
}
.item {
    background-color: white;
    width: fit-content;
        max-width: 100%;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 1rem;
     outline: solid;
     outline-width: 1px;
     outline-color: silver;
    display: inline-block;
    vertical-align: top;

    
    /* close as default */ 
    /*overflow: ellipsis;*/
    /*max-height: 40px;*/
    
    /* focus as default */
    opacity: 1;
}
video{
    min-width: 100%;
    max-width: 50vw;
}

.item img {
    display: block;
        max-width: 50vw;
    margin-top: 1rem;
}

.nofocus {
 -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}

.open {
    max-height: none;
}

/* Dictionnaire */


article{
    box-sizing: border-box;
    border-left:solid;
    border-width: 1px;
    padding-left: 1rem;
    margin:1rem;
    max-width: 640px;
    display: inline-block;
    vertical-align: top;
}
section{
    margin-top: 0.5rem !important;
}
article *{
    font-size: 12pt;
    margin: 0;
}
article h1,li{
    margin-bottom: 1rem !important;
}
li{
    font-weight: bold;
}
li *:not(h2) {
    font-weight: normal;
}
section > h1{
    text-align: center;
}


/*elements*/

/*
 * id = id de l'item (dossier data/)
 * entry = nom / sujet de la item pour tri ?
 */

img {
    display: block;
}

title {
    color: brown;
    display: inline;
}

author {
    color: red;
}

date {
    color: green;
}

tag {
    color: black;
    background-color: #EEEEEE;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 1px 1px 2px black;
}

people {
    color: aliceblue;
    font-family: serif;
    text-decoration: underline;
}
citation {
    width: 600px;
    max-width: 100%;
    display: block;
}
blockquote{
    font-style: italic;
    /*font-size: 1.25rem;*/
/*    font-weight: bold;*/
}
blockquote i{
background-color: yellow;
}
noteblock{
    font-size: 8pt;
    line-height: 10pt;
    display: block;
    font-family: cursive;
    width: 50vw;
    min-width: 600px;

}
notes{
    font-family: cursive;
}
citation ul li{
    font-weight: normal;
}
memoire{
    font-size: 2rem;
    text-transform: uppercase;
}

